@import '~antd/lib/style/themes/default.less';

.radioBtn {
  margin: 22px 0 0;
  .default {
    padding: 10px 17px;
    background: #373739;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    color: #b5b6b6;
    display: inline-block;
    border: 1px solid transparent;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .light {
    color: #eb5c20;
    border: 1px solid #eb5c20;
  }
}
