@import '~antd/lib/style/themes/default.less';
.acycoinitem
{
  cursor: pointer;
  ul{

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  color: #929298;
  li{
    display:inline;
  }
  .conititle{
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    color: #b5b5b6;
  }
  .rate{
    color: @primary-color ;
  }
}
}

.tokenRowContainer {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  &:hover {
    background-color: #434343;
  }
}

.tokenRowContent {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 50px;
  color: #929298;
  cursor: pointer;
  overflow: hidden;
}

.favButtonContainer {
  margin-left: 1rem;
  margin-right: 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favButton {
  opacity: 0.5;
}

.favButton:hover {
  cursor: pointer;
  opacity: 0.8;
}
