.PriceChart{
  position: relative;
  height: 32rem;
}

.KChartBox{
  position: absolute;
  /* float:right; */
  margin-left: 0px;
  margin-top: -22px;
  /* bottom: 0px;
  left: 0px;
  right: 0px;
  top: 10px; */
  z-index: 1;

  /* position: relative; */
  /* border-width: 1px;
  border-style: solid;
  border-color: rgb(30, 33, 54);
  border-image: initial;
  border-radius: 4px; */
  background: rgb(23, 24, 44);
}

.TopInner{
  display: grid;
  grid-template-columns: auto auto auto auto auto 1fr;
  align-items: center;
  padding-left: 1rem;
  grid-column-gap: 3rem;
}

.BotInner {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 4.5rem;
  z-index: 1;
  position: relative;
  /* border-width: 1px; */
  /* border-style: solid; */
  /* border-color: rgb(30, 33, 54); */
  /* border-image: none; */
  /* border-image: initial; */
  /* border-radius: 4px; */
  background: rgb(23, 24, 44);
}
.KChartHeader{
  position: absolute;
  display: flex;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: 5;
}

.KChartControl{
  display: inline-block;
  background-color: transparent;
}

.KChartStat{
  font-size: 14px;
  margin-left: 2rem;
  white-space: nowrap;
  z-index: 2;
  padding: 0.5rem 0px;
  font-family: "Karla", sans-serif;
}
.TabBlock{
  display: grid;
  grid-auto-flow: column;
  
  color: rgba(255, 255, 255, 0.7);
  box-shadow: rgba(255, 255, 255, 0.01) 0px 0px 30px 5px inset;
  border-radius: 3px;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(30, 34, 61, 0.9), rgba(38, 43, 71, 0.9));
}

.tooltip {
  position: absolute;
  display: none;
  width: 120px;
  height: 100px;
  border: 1px solid #828282;
  background-color: #000000;
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  line-height: 20px;
  /* border-radius: 5px; */
  pointer-events: none;
  z-index: 1000;
}
