.transaction{
  @defaultcolor: #b5b5b6;

  h1{
   color: @defaultcolor;
   font-size: 24px;
   font-weight:bold;
   margin-bottom: 20px;
  }
  .routers{
    display: flex;
    .block{
      width: 300px;
      text-align: left;
      padding: 10px 20px;
      background-color: #29292C;
      margin-bottom: 10px;
    }
    .smallblock{
      width: 300px;
      background-color: #29292C;
      margin: 5px auto;
      display: flex;
      padding: 5px 20px;
      justify-content: space-between;
    }
  }
}