@import '~antd/lib/style/themes/default.less';

:global{
 .acytabs{
  .ant-tabs-bar{
   margin: 0;
   color: #B5B6B6;
   display: inline-block;
   border-bottom: 1px solid #E29226;
  }
  .ant-tabs-ink-bar{
    height: 4px;
    border-radius: 5px;
  }
 }
}

/* width */
.tabContainer::-webkit-scrollbar {
  width: 7.5px;
}

/* Track */
.tabContainer::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.tabContainer::-webkit-scrollbar-thumb {
  background: #8888881A;
  border-radius: 0.5rem;
}

/* Handle on hover */
.tabContainer::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tabContainer {
  overflow-y: auto;
  max-height: 28rem;
}
