@import '~antd/lib/style/themes/default.less';
.icon{
  display: inline-block;
  padding: 0 11px;
  &:hover{
    cursor: pointer;
  }
  .acy{
    background: url('~@/assets/icon_acy.png');
  }
  .colors{
    background: url('~@/assets/icon_colors.png');
  }
  .maximize{
    background: url('~@/assets/icon_maximize.png');
  }
  .time{
    background: url('~@/assets/icon_time.png');
  }
  .setting{
    background: url('~@/assets/icon_setting.png');
  }
  .eth{
    background: url('~@/assets/icon_btc.png');
  }
  .double-right{
    background: url('~@/assets/icon_double_right.png');
  }
  .back{
    background: url('~@/assets/icon_back.png');
  }
  .search{
    background: url('~@/assets/icon_search.png');
  }
  .close{
    background: url('~@/assets/icon_close.png');
  }
  .nabla{
    width: 16px;
    height: 16px;
    background: url('~@/assets/icon_nabla.png');
    background-size: cover;
  }
  i{
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
  }
  .big{
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
  }
}
