@import '~antd/lib/style/themes/default.less';
.icon {
  display: inline-block;
  text-align: center;
  color: #b5b6b6;
  li &:hover {
    cursor: pointer;
  }
  .acy {
    background: url('~@/assets/icon_acy.svg');
  }
  .colors {
    background: url('~@/assets/icon_fivedots.svg');
  }
  .colors-active {
    background: url('~@/assets/icon_fivedots_active.svg');
  }
  .maximize {
    background: url('~@/assets/icon_maximize.png');
  }
  .time {
    background: url('~@/assets/icon_time.png');
  }
  .setting {
    background: url('~@/assets/icon_setting.png');
  }
  .eth {
    background: url('~@/assets/icon_eth.svg');
  }
  .usdt {
    background: url('~@/assets/icon_usdt.svg');
  }
  .wbtc {
    background: url('~@/assets/icon_wbtc.svg');
  }
  .usdc {
    background: url('~@/assets/icon_usdc.svg');
  }
  .dai {
    background: url('~@/assets/icon_dai.svg');
  }
  .pax {
    background: url('~@/assets/icon_pax.svg');
  }
  .link {
    background: url('~@/assets/icon_link.svg');
  }
  .frax {
    background: url('~@/assets/icon_frax.svg');
  }
  .uni {
    background: url('~@/assets/icon_uni.svg');
  }
  .arbitrum {
    background: url('~@/assets/icon_arbitrum.svg');
  }
  .optimism {
    background: url('~@/assets/icon_optimism.svg');
  }
  .double-right {
    background: url('~@/assets/icon_double_right.png');
  }
  .double-down {
    background: url('~@/assets/icon_double_down.svg');
  }
  .back {
    background: url('~@/assets/icon_back.png');
  }
  .search {
    background: url('~@/assets/icon_search.png');
  }
  .close {
    background: url('~@/assets/icon_close.png');
  }
  .view {
    background: url('~@/assets/icon_view.png');
  }
  .copy {
    background: url('~@/assets/icon_copy.png');
  }
  .disconnect {
    background: url('~@/assets/icon_disconnect.png');
  }
  .switch {
    background: url('~@/assets/icon_switch.png');
  }
  .redirect{
    background: url('~@/assets/icon_redirect.svg');
  }
  .cmc {
    background: url('~@/assets/icon_cmc.svg');
  }
  .addlq{
    background: url('~@/assets/icon_addlq.svg')
  }
  .remlq{
    background: url('~@/assets/icon_remlq.svg')
  }
  .clear {
    background: url('~@/assets/icon_clear.png');
  }
  .unknown{
    background:url('~@/assets/icon_unknown.svg')
  }
  .nabla {
    width: 16px;
    height: 16px;
    background: url('~@/assets/icon_nabla.png');
    background-size: cover;
  }
  .help {
    background: url('~@/assets/icon_help.png');
  }
  .announcements {
    background: url('~@/assets/icon_announcements.png');
  }
  .documents {
    background: url('~@/assets/icon_documents.png');
  }
  .twitter {
    background: url('~@/assets/icon_twitter.png');
  }
  .star {
    background: url('~@/assets/icon_star.svg');
  }
  .star_active {
    background: url('~@/assets/icon_star_active.svg');
  }
  .plus_light{
    background: url('~@/assets/plus_light.svg');
  }
  .plus_grey{
    background: url('~@/assets/plus_grey.svg');
  }
  i {
    display: inline-block;
    vertical-align: middle;
    background-size: 100% 100% !important;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
  .middle {
    width: 80px;
    height: 80px;
    background-size: 100% 100%;
  }
  .big {
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
  }
}
