.buy-input .InputSection-static-input {
    font-size: 1.5rem;
  }
  
  .buy-input.Exchange-swap-section {
    min-height: 5.935rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background: #29292c;
    border-radius: 10px;
    border: 1px solid #2c2f36;
  }

  .align-right {
    text-align: right;
    display: flex;
    justify-content: flex-end;
  }
  
  .buy-input .TokenSelector-box {
    display: flex;
    align-items: center;
    border-radius: 4px;
    /* padding: 0.5rem 0; */
    color: #FFFFFF;
    min-width: 3rem;
    font-size: 1.25rem;
    line-height: 1.625rem;
    justify-content: flex-end;
  }
  
  .buy-input .Exchange-swap-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
  }

  .Exchange-swap-input {
    color: #fff;
    width: 0;
    position: relative;
    font-weight: 500;
    outline: none;
    flex: 1 1 auto;
    height: unset;
    border: 0;
    border-radius: 0;
    background-color: #29292c;
    font-size: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    text-align: right;
  }
  
  .buy-input .Exchange-swap-max {
    position: unset;
    color: white;
    font-size: 1rem;
    right: 0.8rem;
    top: 0;
    padding: 0.3rem 0.5rem;
    border-radius: 3px;
    z-index: 1;
    cursor: pointer;
    background: linear-gradient(90deg,#2d42fc,#2e3dcd);
  }
  
  .buy-input .TokenSelector-caret {
    margin: 0;
    margin-right: -5px;
  }
  
  .buy-input .TokenSelector-box-symbol {
    margin-left: 0.5rem;
  }
  
  .buy-input .PositionEditor-token-symbol {
    display: flex;
    align-items: center;
    margin-left: 0.9rem;
    font-size: 1.35rem;
    text-align: right;
  }
  
  .buy-input .PositionEditor-token-symbol img {
    margin-left: 0.5rem;
    display: none;
  }
  
  .buy-input .Exchange-swap-section-top {
    padding-bottom: 0;
    display: grid;
    grid-template-columns: auto auto;
    font-size: .9rem;
    margin-bottom: 8px
  }

  .Exchange-swap-section-bottom {
    display: grid;
    grid-template-columns: 1fr auto;
    padding-bottom: 0.2rem;
  }
  
  .buy-input .selected-token {
    /* padding-top: 0.5rem; */
    /* padding-bottom: 0.5rem; */
    display: flex;
    align-items: center;
  }
  
  .buy-input .Exchange-swap-balance {
    color: white;
  }

  .switchcoin {
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    background-color: #1b1b1c;
    color: #fff;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    user-select: none;
    border: none;
    height: 2.4rem;
    width: auto;
    padding: 0 8px;
    justify-content: space-between;
    margin-right: 12px;
    line-height: inherit;
  }
  
   .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
   }

   .coin {
    width: fit-content;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: flex-start;
   }