@cardColor:   #2f313583;


// root element
.marketRoot{
    width: 90%;
    max-width: 1000px;
    margin:auto;
    z-index:0;
    color: #B5B6B6;
}

// headers
h2 {
    color: #B5B6B6;
}


// table entries
.priceChangeDown{
    color: red;
}
.priceChangeUp{
    color:greenyellow;
}
.coinName {
    font-weight: bold;
}
.coinShort{
    color: #919191;
}

//small table compoenent
.smallTable{
    display: table;
    width: 100%;
    .smallTableRow{
        display: table-row;
    }
    .smallTableHeader{
        display:table-cell;
        padding: 10px;
        font-weight: bold;
    }
    .smallTableBody{
        display:table-cell;
        padding: 10px;
    }
    .smallTableSeeMore{
        margin-left: 10px;
        margin-top: 30px;
    }
}

// search component
.searchSection{
    z-index: 10;
    .searchBackground{
        background: rgba(0,0,0,0.50);
        position:fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 4;
    }
    .searchWrapper{
        width: 100%;
        display:flex;
        justify-content:flex-end;
    }
    .searchBar{
        width: 100%;
    }
    .searchModal{
        background: #373739;
        border: solid 1px #eb5c20;
        border-radius: 15px;
        z-index:5;
        padding: 20px;
        .searchModalDivider{
            background-color: #666666;
        }
    }
    
}
.searchInnerWrapper{
    z-index:5;
    width: 40%;
}

// Chart on main page
.chartsMain{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.chartSectionMain{
    width: 49%;
    height: 40vh;
    max-height: 700px;
    background-color: @cardColor;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px;
    overflow: hidden;
    .graphStats{
        padding: 0;
        margin-bottom: 5px;
    }
    .statName{
        font-size: 13pt;
        line-height: 14pt;
        color: #B5B6B6;
    }
    .statValue{
        font-size: 24pt;
        line-height: 25pt;
        font-weight: bold;
    }
    .chartWrapper {
        height: 100%;
    }
    
}

// Market overview
.marketOverview {
    background-color: @cardColor;
    color: #B5B6B6;
    padding: 15px;
    border-radius: 15px 15px 15px 15px ;
    
    margin-bottom:10px;
}

// Transaction table
.transactionHeader{
    display:flex;
    justify-content:space-around;
    .transactionType{
        margin: 5px;
    }
}

.tableData{
    text-align: right;
}
.tableDataFirstColumn{
    text-align:left;
}
.tableSeeMoreWrapper {
    text-align: center;
    width: 100%;
}
.tableSeeMore {
    font-size: 16px;
}

// info pages
.contentCta {
    display:flex;
    justify-content: flex-end;
    font-family: sans-serif;
    
}
.ctaButton {
    margin-right:10px;
}
.contentStats, .contentCharts{
    background: @cardColor;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 15px;
}
.contentStats{
    margin-right: 5px;
    width: 23%;
}
.contentCharts{
    margin-left: 5px;
    width: 75%;
}

// info page left stats
.statEntry{
    margin-bottom: 18px;
}
.statEntryValue{
    font-size:26px;
    line-height:28px;
    font-weight: bold;
}
.statEntryName, .statEntryChange{
    font-size:18px;
    line-height: 20px;
    color: #B5B6B6;
}

// chart section in info page
.contentChartsHeader{
    width: 100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap: wrap-reverse;
    margin-bottom:5px;
}
.chartIndicatorValue{
    font-size:26px;
    line-height:28px;
    font-weight: bold;
}
.chartIndicatorTime{
    font-size:16px;
    line-height: 18px;
    color: #B5B6B6;
}
.contentChartsBody{
    height: 100%;
}
.contentChartWrapper{
    height: 100%;
}
.contentChartsSelector{
    margin-top: 10px;
    margin-bottom: 10px;
}

.statEntryTokenLock{
    background-color: #2e3032;
    border-radius: 15px;
    padding: 15px;
}
.tokenLockEntry{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.tokenLockName{
    display:flex;
    align-items:center;
}


.exchangeValueWrapper{
    margin-top:30px;
    margin-bottom: 15px;
}
.exchangeValueCard{
    margin-right: 10px;
    background-color: #2e3032;
    padding: 10px;
    padding-right:20px;
    border-radius:15px;
    margin-bottom: 10px;
}



// mobile changes
@media screen and (max-width: 768px) {

    .searchInnerWrapper{
        width: 100%;
        color: red;
    }

    .chartSectionMain{
        width: 100%;
    }

    .volColumn{
        text-align: right;
    }

    .contentCta {

        width: 100%;
        justify-content :flex-start;
        
    }

    .contentStats{
        margin-right: 0px;
        width: 100%;
    }
    .contentCharts{
        margin-left: 0px;
        width: 100%;
        height: 40vh;
    }

    .contentChartWrapper{
        height: 80%;
    }

    
}