@import '~antd/lib/style/themes/default.less';

@cardColor: #2f313583;
@mainColor: #c4c4c4;

.topContainer{
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tokenContainer{
    width: 48%;
    max-height: 700px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: inline-block;
    .snsBox1{
        margin: 2.5em 0.5em 0 0.5em;
    }
    .snsBox2{
        margin: 1em 0.5em 0 0.5em;
    }
    .snsBox3{
        margin: 1em 0.5em 0 0.5em;
    }
}

.chartWrapper{
    width: 49%;
    height: 315px;
    max-height: 700px;
    float: right;
    overflow: hidden;
}

.hashtagBox{
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 15px 0;
}

.userTotalTicket{
    width: 100%;
    height: auto;
    margin-left: 1px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    .ticketAllocation{
        float: left;
    }
    .totalTickets{
        margin-left: 20px;
    }
}


.mainImage{
    padding: 5px;
    width: 60px;
    height: auto;
    float: left;
    margin-right: 15px;
}

.hashtagImage{
    padding: 4px;
    width: 20px;
    height: auto;
    float: left;
    margin-top: 15px;
    margin-right: 15px;
}

.tokenName{
    margin-top: 8px;
    font-size: 28px;
    display: inline-block;
    width: auto;
}

.midContainer{
    width: 100%;
    padding: 0%;
    margin: 0%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tokenInfoBox{
    width: 60%;
    height: auto;
    // padding: 20px 30px ;
    background-color: #1b1b1c;
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.tokenInfoBoxTop{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .tokenIDODate{
        margin-right: 30%;
    }
}
.tokenInfoContainer {
    width: 100%;
    height: auto;
    padding: 20px 30px 0 30px ;
    margin-bottom: 10px;
    justify-content: left;
}

.line{
    border-bottom: 2px solid #2e3032;
    display: block;
    margin: 0 8px 0 8px;
}

.greyLine{
    border-bottom: 2px solid #d3d3d3;
    display: block;
    margin: 10px 8px 0 8px;
}

.tokenDetails{
    width: 100%;
    height: auto;
    display: flex;
    padding: 15px 0;
    justify-content: left;
    .tokenPrice{
        margin-left: 47px;
        width: 220px;
    }
    .tokenTotalRaise{
        width: 180px;
    }
    .ticketAllocation{
        width: 180px;
    }
    .tokenMarketCap{
        width: auto;
    }
}

.tokenMoreInfo{
    // width: 100%;
    // max-height: 700px;
    // padding: 15px 0;
    // box-sizing: border-box;
    // overflow: hidden;
    // position: relative;
    // margin-top: 10px;
    // display: flex;
    // justify-content: left;
    width: 100%;
    height: 700px;
    display: flex;
    padding: 15px 0;
    justify-content: left;
    margin-top: 15px;
    .totalTickets {
        margin-left: 47px;
        width: 220px;
    }
    .tokenRaiseSize {
        width: 180px;
    } 
    .tokenAmount {
        width: 180px;
    }
    
    .tokenMaxAllo {
        width: auto;
    }
    
}

.leftToggleButton {
    border: 1px solid transparent;
    border-radius: 15px 0 0 15px;
    background-color: #29292c;
    padding: 0.25rem 1.25rem;
    margin-right: 0;
    font-size: 1rem;
}

.rightToggleButton {
    border: 1px solid transparent;
    border-radius: 0 15px 15px 0;
    background-color: #29292c;
    padding: 0.25rem 1.25rem;
    margin-right: 0.5rem;
    font-size: 1rem;
}

.leftToggleButton:hover,
.rightToggleButton:hover {
  cursor: pointer;
  border-color: #c6224e;
}


.whiteListToggleButton{
  border: 1px solid transparent;
  background-color: #c6224e;
  width: 10em;
  height: 40px;
  color: #fff;
  margin-top: 15px;
  padding: 0.25rem 1.25rem;
  // border-radius: 0.25rem 0 0 0.25rem;
  margin-right: 0;
  font-size: 1rem;
}

.whiteListToggleButton:hover{
  cursor: pointer;
  background: #c6224e;
  color: #fff;
  border-color: #c6224e;
  opacity: 90%;
}

.swapToggleButton{
    border: 1px solid transparent;
  background-color: #c6224e;
  width: 10em;
  height: 40px;
  color: #fff;
  margin: 30px 0px 20px 30px;
  padding: 0.25rem 1.25rem;
  // border-radius: 0.25rem 0 0 0.25rem;
  margin-right: 0;
  font-size: 1rem;
}

.swapToggleButton:hover{
    cursor: pointer;
    background: #c6224e;
    color: #fff;
    border-color: #c6224e;
    opacity: 90%;
}


.tokenProgress{
    width: 100%;
    height: auto;
    padding: 0 15px 15px 15px;
    display: inline-block;
    :global{
        .ant-progress-text{
            color: @mainColor;
        }
    }
}

.ticketBox{
    width: 40%;
    height: auto;
    background-color: #0e0304;
    box-sizing: border-box;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
}

.ticketDescription{
    width: 100%;
    display: inline-flex;
    justify-content: right;
    float: right;
    padding: 5px;
    .tableToggleButtonContainer{
      margin-top: 15px;
      margin-bottom: 5px;
    }
}

.showTicketContainer{
    width: 100%;
    height: auto;
    position: relative;
}

.showTicketBox{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 6em;
    .showTicketBox1{
        width: auto;
        height: auto;
        display: inline-block;
    }
    
    .showTicketBox2{
        width: auto;
        height:auto;
        position: relative;
        display: inline-block;
    }
}

.showTicketBox1 .userEligibleTickets{
    margin-bottom: 50px;
}

.showTicketBox2 .userWinningTickets{
    margin-bottom: 50px;
}

.whitelistBox{
    width: 100%;
    display: flex;
    justify-content: center;
}

.dateTableBox{
    :global{
        .ant-table-placeholder{
        background: transparent !important;
        }
        .ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
        // background:  transparent !important;
        cursor: pointer;
        }
        .ant-table-thead > tr{
        background:  transparent !important;
        }
        .ant-table-tbody > tr{
        background:  transparent !important;
        }
        .ant-table-thead > tr > th:not(.leftAlignTableHeader){
        text-align: center !important;
        background:  transparent !important;
        }
        .ant-table-footer{
        background:  transparent !important;
        }
        .ant-table-tbody > tr{
        &:active{
            background: #2f3135  !important;
        }
        }
    }
}
  
.verticalCenter{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

// Email css
.emailContainer{
    width:100%;
    height: auto;
    .emailBox{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
    }
}
.emailButtonBox{
    width:100%;
    height: auto;
    display: inline-block;
    .emailPreviousButton{
        min-width: 60px;
        max-width: 60px;
        margin: 0 120px;
        transform: rotate(-180deg);
    }
    .emailPreviousButton:hover{
        cursor: pointer;
        opacity: 80%;
    }
    .emailSubmitButton{
        min-width: 60px;
        max-width: 60px;
        margin-left: 35px;
    }
    .emailSubmitButton:hover{
        cursor: pointer;
        opacity: 80%;
    }
}


// telegram box
.telegramBox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 10px 10px 0;
}

.telegramContainer{
    width: 100%;
    height: auto;
    .telegramText{
        width: 100%;    
        display: inline-block;
        text-align: center;
        padding: 15px;
        color: @mainColor;
    }
    
    .telegramLinks{
        width: 100%;
        position: relative;
        display: inline-block;
    }
}

.extraContainer{
    float: right ;
}

.loginForm{
    max-width: 200px;
}
#themeBox{
    width: 50px;
    color: white;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #c6224e;
}

.telegramPanel1{
    width: 100%;
    display: inline-block;
    align-items: center;
}

#nextPage:hover{
    cursor: pointer;
}

//tan
.swapContainer{
    width: 100%;
    height: auto;
    padding: 50px 50px;
}
.acycuarrencycard{
  display: flex;
  flex-flow: column nowrap;
//   position: relative;
  border-radius: 20px;
  background-color: rgb(44, 47, 54);
  width: initial;
//   z-index: 1;


  .cua_title{
    font-size: 14px;
    font-weight: 400;
    color: #f3f3fc;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }

  .cua_body{
    border-radius: 10px;
    // border: 1px solid rgb(44, 47, 54);
    background-color: #191B20;
    width: initial;
    height: 80px;
    position: relative;
  }
.coinContainer {
    padding-left: 30px;
    padding-right: 15px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

  .cua_group{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    .switchcoin{
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      color: rgb(255, 255, 255);
      border-radius: 10px;
      outline: none;
      cursor: pointer;
      user-select: none;
      border: none;
      // height: 2.4rem;
      width: initial;
      justify-content: space-between;
      line-height: inherit;
      .wrap{
        display: flex;
        // padding: 5px;
        text-align: center;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        .coin{
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: left;
         
        }
      }
    }
    :global{
      input:focus{
        outline:medium !important;
      }
    }
    .input{
      color: rgb(255, 255, 255);
      width: auto;
      font-weight: 500;
      outline: none;
      border: none;
      flex: 1 1 auto;
      height: unset;
      border: 0;
      border-radius: 0;
      background-color: #191B20;
      font-size: 22px;
      white-space: nowrap;
      text-overflow: ellipsis;
      appearance: textfield;
      text-align: right;
    }
  }
  .cua_blanace{
    //   background-color: #e29228;
      text-align: right;
      font-weight: 400;
      font-size: 14px;
      color: rgb(195, 197, 203);
  }
  .cua_light{
    border: 1px solid #e29228;
    &:hover{
      cursor: pointer;
      border: 1px solid #e29228;
    }
  }
}

.swap_button {
    position: relative;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    font-family: PingFang SC;
    font-weight: 600;
    color: #ffffff;
    background: #7A2A2A;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 25px;
    &:active {
      background-color: #862e2e;
    }
  }
.double_arrow {
    margin: 12px auto;
    text-align: center;
    width: 25px;
    height: auto;
}

.dropdown {
    width: 100%;
    position: relative;
    z-index: 10;
    border: 1px solid #e29228;
    background-color: #191B20;
    border-radius: 10px;
    // box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
    .token {
        // cursor: pointer;
        // background-color: rgb(44, 47, 54);
        padding: 7px 10px;
        border-radius: 10px;
        &:hover{
            cursor: pointer;
            background-color: rgb(44, 47, 54);
        }
    }
    
  }
.searchModalDivider {
    background-color: #666666;
    border-bottom: 2px solid black;
    display: block;
    margin: 0 8px 0 8px;
    
}
//style={{ width: '100%', position: 'relative', zIndex: 10, padding: '10px'}}
