@import '~antd/lib/style/themes/default.less';

@cardColor: #2f313583;
@mainColor: #c4c4c4;

.topContainer{
    width: 100%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tokenContainer{
    width: 48%;
    max-height: 700px;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: inline-block;
    .snsBox1{
        margin: 2.5em 0.5em 0 0.5em;
    }
    .snsBox2{
        margin: 1em 0.5em 0 0.5em;
    }
    .snsBox3{
        margin: 1em 0.5em 0 0.5em;
    }
}

.chartWrapper{
    width: 49%;
    height: 315px;
    max-height: 700px;
    float: right;
    overflow: hidden;
}

.stepBar {
    width: auto;
    height: auto;
    padding: 20px 30px ;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    margin: mid;
    display: inline-block;    
}

.stepColor {
        //background-color: red;
        :global{
        .ant-steps-item-title{
            color: red  !important;
       
    }}
    

}


.textcolor{

    color: red;
}
.hashtagBox{
    width: 100%;
    height: auto;
    display: inline-block;
    padding: 15px 0;
}

.userTotalTicket{
    width: 100%;
    height: auto;
    margin-left: 1px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    .ticketAllocation{
        float: left;
    }
    .totalTickets{
        margin-left: 20px;
    }
}


.mainImage{
    padding: 5px;
    width: 60px;
    height: auto;
    float: left;
    margin-right: 15px;
}

.hashtagImage{
    padding: 4px;
    width: 20px;
    height: auto;
    float: left;
    margin-top: 15px;
    margin-right: 15px;
}

.tokenName{
    margin-top: 8px;
    font-size: 28px;
    display: inline-block;
    width: auto;
}

.midContainer{
    width: 100%;
    padding: 0%;
    margin: 0%;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tokenInfoBox{
    width: 59%;
    height: 450px;
    // padding: 20px 30px ;
    background-color: @cardColor;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.tokenInfoBoxTop{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .tokenIDODate{
        margin-right: 30%;
    }
}
.tokenInfoContainer {
    width: 100%;
    height: auto;
    padding: 20px 30px ;
    justify-content: left;
}

.line{
    border-bottom: 2px solid black;
    display: block;
    margin: 0 8px 0 8px;
}

.greyLine{
    border-bottom: 2px solid #d3d3d3;
    display: block;
    margin: 10px 8px 0 8px;
}

.tokenDetails{
    width: 100%;
    height: auto;
    display: flex;
    padding: 15px 0;
    justify-content: left;
    .tokenPrice{
        margin-left: 47px;
        width: 220px;
    }
    .tokenTotalRaise{
        width: 180px;
    }
    .ticketAllocation{
        width: 180px;
    }
    .tokenMarketCap{
        width: auto;
    }
}

.tokenMoreInfo{
    // width: 100%;
    // max-height: 700px;
    // padding: 15px 0;
    // box-sizing: border-box;
    // overflow: hidden;
    // position: relative;
    // margin-top: 10px;
    // display: flex;
    // justify-content: left;
    width: 100%;
    height: 700px;
    display: flex;
    padding: 15px 0;
    justify-content: left;
    margin-top: 15px;
    .totalTickets {
        margin-left: 47px;
        width: 220px;
    }
    .tokenRaiseSize {
        width: 180px;
    } 
    .tokenAmount {
        width: 180px;
    }
    
    .tokenMaxAllo {
        width: auto;
    }
    
}

.leftToggleButton {
    border: 1px solid transparent;
    border-radius: 15px 0 0 15px;
    background-color: #29292c;
    padding: 0.25rem 1.25rem;
    margin-right: 0;
    font-size: 1rem;
}

.rightToggleButton {
    border: 1px solid transparent;
    border-radius: 0 15px 15px 0;
    background-color: #29292c;
    padding: 0.25rem 1.25rem;
    margin-right: 0.5rem;
    font-size: 1rem;
}

.leftToggleButton:hover,
.rightToggleButton:hover {
  cursor: pointer;
  border-color: #c6224e;
}


.whiteListToggleButton{
  border: 1px solid transparent;
  background-color: #c6224e;
  width: 10em;
  height: 40px;
  color: #fff;
  margin-top: 15px;
  padding: 0.25rem 1.25rem;
  // border-radius: 0.25rem 0 0 0.25rem;
  margin-right: 0;
  font-size: 1rem;
}

.whiteListToggleButton:hover{
  cursor: pointer;
  background: #c6224e;
  color: #fff;
  border-color: #c6224e;
  opacity: 90%;
}

.swapToggleButton{
    border: 1px solid transparent;
  background-color: #c6224e;
  width: 10em;
  height: 40px;
  color: #fff;
  margin-top: 20px;
  padding: 0.25rem 1.25rem;
  // border-radius: 0.25rem 0 0 0.25rem;
  margin-right: 0;
  font-size: 1rem;
}

.swapToggleButton:hover{
    cursor: pointer;
    background: #c6224e;
    color: #fff;
    border-color: #c6224e;
    opacity: 90%;
}


.tokenProgress{
    width: 100%;
    height: auto;
    padding: 15px;
    display: inline-block;
    :global{
        .ant-progress-text{
            color: @mainColor;
        }
    }
}

.ticketBox{
    width: 40%;
    height: 450px;
    background-color: @cardColor;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.ticketDescription{
    width: 100%;
    display: inline-flex;
    justify-content: right;
    float: right;
    padding: 5px;
    .tableToggleButtonContainer{
      margin-top: 15px;
      margin-bottom: 5px;
    }
}

.showTicketContainer{
    width: 100%;
    height: auto;
    position: relative;
}

.showTicketBox{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 6em;
    .showTicketBox1{
        width: auto;
        height: auto;
        display: inline-block;
    }
    
    .showTicketBox2{
        width: auto;
        height:auto;
        position: relative;
        display: inline-block;
    }
}

.showTicketBox1 .userEligibleTickets{
    margin-bottom: 50px;
}

.showTicketBox2 .userWinningTickets{
    margin-bottom: 50px;
}

.whitelistBox{
    width: 100%;
    display: flex;
    justify-content: center;
}

.dateTableBox{
    width: 100%;
    height: auto;
    
    :global {
        .ant-table-thead > tr > th:not(.leftAlignTableHeader){
            text-align: center !important;
        }
    }
}
  
.verticalCenter{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

// Email css
.emailContainer{
    width:100%;
    height: auto;
    .emailBox{
        width: 100%;
        height: auto;
        padding: 20px;
        margin-top: 5em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .emailSubmitButton{
        min-width: 60px;
        max-width: 60px;
        margin-left: 40px;
    }
    
    .emailSubmitButton:hover{
        cursor: pointer;
        opacity: 80%;
    }
}



// telegram box
.telegramBox{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.telegramContainer{
    width: 100%;
    height: auto;
    .telegramText{
        width: 100%;    
        display: inline-block;
        text-align: center;
        padding: 15px;
        color: @mainColor;
    }
    
    .telegramLinks{
        width: 100%;
        position: relative;
        display: inline-block;
    }
}



.extraContainer{
    float: right ;
}

#themeBox{
    width: 50px;
    color: white;
    height: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #c6224e;
}

.telegramPanel1{
    width: 100%;
    display: inline-block;
    align-items: center;
}

//tan
.swapContainer{
    width: 100%;
    height: auto;
    padding: 50px 50px;
}
.acycuarrencycard{
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  border-radius: 20px;
  background-color: rgb(44, 47, 54);
  z-index: 1;
  width: initial;
  .cua_title{
    font-size: 14px;
    font-weight: 400;
    color: #f3f3fc;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }

  .cua_body{
    border-radius: 10px;
    // border: 1px solid rgb(44, 47, 54);
    background-color: #191B20;
    width: initial;
    // &:hover{
    //   border: 1px solid rgb(64, 68, 79);
    // }
    .cua_group{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      padding:1rem 1rem 0.75rem;
      .switchcoin{
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        background-color: #191B20;
        color: rgb(255, 255, 255);
        border-radius: 10px;
        outline: none;
        cursor: pointer;
        user-select: none;
        border: none;
        height: 2.4rem;
        width: initial;
        padding: 0px 8px;
        justify-content: space-between;
        margin-right: 12px;
        line-height: inherit;
        &:hover{
          cursor: pointer;
          background-color: rgb(44, 47, 54);
        }
        .wrap{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          box-sizing: border-box;
          margin: 0px;
          min-width: 0px;
          .coin{
            width: fit-content;
            display: flex;
            padding: 0px;
            align-items: center;
            justify-content: flex-start;
           
          }
        }
      }
      :global{
        input:focus{
          outline:medium !important;
        }
      }
      .input{
        color: rgb(255, 255, 255);
        width: 0px;
        position: relative;
        font-weight: 500;
        outline: none;
        border: none;
        flex: 1 1 auto;
        height: unset;
        border: 0;
        border-radius: 0;
        background-color: #191B20;
        font-size: 22px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0px;
        appearance: textfield;
        text-align: right;
      }
    }
    .cua_blanace{
      display: flex;
      flex-flow: row nowrap;
      align-items: right;
      justify-content: right;
      line-height: 1rem;
      padding: 0px 1rem 1rem;
      box-sizing: border-box;
      margin: 0px;
      min-width: 0px;
      font-weight: 400;
      font-size: 18px;
      color: rgb(195, 197, 203);
    }
  }
  .cua_light{
    border: 1px solid #e29228;
    &:hover{
      cursor: pointer;
      border: 1px solid #e29228;
    }
  }
}

.swap_button {
    position: relative;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    font-family: PingFang SC;
    font-weight: 600;
    color: #ffffff;
    background: #7A2A2A;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    margin-top: 25px;
    &:active {
      background-color: #862e2e;
    }
  }
.double_arrow {
    margin: 12px auto;
    text-align: center;
    width: 25px;
    height: auto;
}
