.main {
  font-family: "Karla", sans-serif;
}

.modeSelector {
  height: 60px;
  text-align: center;
  overflow: hidden;
}

.rowFlexContainer {
  padding: 10px;

  .title {
    color: white;
    font-size: 14px;
  }
}

.leverageContainer {
  margin-bottom: 40px;

  .slippageContainer {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }

  .leverageLabel {
    display: flex;
    align-items: center;
  }

  .leverageInputContainer {
    display: flex;
    margin-left: 20px;
  }

  .leverageButton {
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    border: 0.75px solid #232323;
    background-color: transparent;
    color: #b5b5b6;
    outline: none;
    cursor: pointer;
    user-select: none;
    height: 2.4rem;
    width: auto;
    padding: 0 8px;
    justify-content: space-between;
    line-height: inherit;
  }

  .leverageInput {
    color: #b5b5b6;
    border: 0.75px solid #232323;
    background-color: transparent;
    font-size: 16px;
    text-align: center;
    width: 40%;
  }

}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  padding: 10px;
  border: 0.75px solid #232323;
  width: 100%;

  .inputLabel {
    margin-left: 10px;
  }
}

.optionInput {
  color: #fff;
  width: 0;
  position: relative;
  outline: none;
  flex: 1 1 auto;
  height: unset;
  border: 0;
  border-radius: 0;
  background-color: black;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: right;
  margin-right: 10px;
}

.buttonContainer {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;

  .percentageButton {
    border: 0.75px solid #333333;
    background-color: transparent;
    width: 100%;
    height: 50px;
    color: white;

    &:hover {
      cursor: pointer;
      border: 1px solid white;
    }
  }

  .percentageButtonActive {
    border: 0.75px solid white;
    background-color: transparent;
    width: 100%;
    height: 50px;
    color: white;

    &:hover {
      cursor: pointer;
      border: 1px solid white;
    }
  }
}

.slippageContainer {
  margin-top: 20px;
  margin-bottom: 20px;

  :global {
    .ant-input-affix-wrapper {
      background-color: black;
      border: 0.75px solid #333333;
      border-radius: 5px;
    }

    .ant-input {
      background-color: black;
    }
  }

  .input {
    flex: 1 1 auto;
  }
}

.accountInfo {
  margin-top: 50px;
  margin-left: 30px;
  display: flex;
  justify-content: space-evenly;

  .statstitle {
    font-size: 16px;
    line-height: 1.355rem;
    letter-spacing: 0px;
    color: #FFFFFF;
  }

  .statsdivider {
    height: 0.75px;
    background: #333333;
    margin: 0.7rem -1rem;
  }

  .statscontent {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .statsRow {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 1rem;
    padding: unset;
    color: #a9a9b0;
    font-size: 15px;
    opacity: 1;    
  }
}

.gauge{
  width: 300px;
}