@import '~antd/lib/style/themes/default.less';

.head {
  width: 100%;
  transition: background 0.3s, width 0.2s;
  height: @layout-header-height;
  position: relative;
  :global {
    .ant-menu-submenu.ant-menu-submenu-horizontal {
      line-height: @layout-header-height;
      height: 100%;
      .ant-menu-submenu-title {
        height: 100%;
      }
    }
    .ant-menu-dark .ant-menu-item-selected > a,
    .ant-menu-dark .ant-menu-item-selected > a:hover,
    .ant-menu-dark .ant-menu-item:hover > a,
    .ant-menu-dark .ant-menu-item-active > a,
    .ant-menu-dark .ant-menu-submenu-active > a,
    .ant-menu-dark .ant-menu-submenu-open > a,
    .ant-menu-dark .ant-menu-submenu-selected > a,
    .ant-menu-dark .ant-menu-submenu-title:hover > a {
      color: #eb5c20;
    }
    .ant-menu-submenu-selected {
      .ant-menu-submenu-title {
        position: relative;
        &::after {
          content: '';
          position: absolute;
          height: 5px;
          bottom: -2px;
          left: 20px;
          width: ~'calc(100% - 40px)';
          background: #eb5c20;
        }
      }
    }
    .ant-menu.ant-menu-dark .ant-menu-item-selected,
    .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
      background: unset;
      height: calc(~'@{layout-header-height} - 0px');
      line-height: calc(~'@{layout-header-height} - 0px');
      position: relative;
      &:after {
        content: '';
        position: absolute;
        height: 1px;
        bottom: 7px;
        left: 20px;
        width: ~'calc(100% - 40px)';
        background: #eb5c20;
      }
      &:hover {
        &:after {
          content: '';
          position: absolute;
          height: 1px;
          bottom: 0px;
          left: 20px;
          width: ~'calc(100% - 40px)';
          background: #eb5c20;
          transition-property: bottom;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 0.15s;
        }
      }
    }
    .top-nav-menu li.ant-menu-item {
      height: calc(~'@{layout-header-height} - 0px');
      line-height: calc(~'@{layout-header-height} - 0px');
    }
    @media screen and (max-width: @screen-xs) {
      .ant-menu-item,
      .ant-menu-submenu-title {
        padding: 0 5px;
      }
      .ant-menu.ant-menu-dark .ant-menu-item-selected,
      .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
        background: unset;
        height: calc(~'@{layout-header-height} - 0px');
        line-height: calc(~'@{layout-header-height} - 0px');
        position: relative;
        &:after {
          content: '';
          position: absolute;
          height: 1px;
          bottom: 7px;
          left: 10px;
          width: ~'calc(100% - 20px)';
          background: #eb5c20;
        }
        &:hover {
          &:after {
            content: '';
            position: absolute;
            height: 1px;
            bottom: 0px;
            left: 10px;
            width: ~'calc(100% - 20px)';
            background: #eb5c20;
            transition-property: bottom;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 0.15s;
          }
        }
      }
    }
  }
  &.light {
    background-color: #fff;
  }

  .main {
    display: flex;
    flex-wrap: wrap;
    height: @layout-header-height;
    padding-left: 24px;
    margin: 0 17px;
    .left {
      flex: 1;
      display: flex;
    }
    .right {
      width: 324px;
    }
  }
  @media screen and (max-width: @screen-xs) {
    .main {
      padding-left: 0;
      margin: 0 5px;
    }
  }
}

.logo {
  width: 165px;
  height: @layout-header-height;
  position: relative;
  line-height: @layout-header-height;
  transition: all 0.3s;
  overflow: hidden;
  img {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
  }
}

.light {
  h1 {
    color: #002140;
  }
}

.menu {
  height: calc(~'@{layout-header-height} - 0px');
  line-height: calc(~'@{layout-header-height} - 0px');
  border-bottom: 0 !important;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  li {
    height: 100%;
  }
}
@media screen and (max-width: @screen-xs) {
  .logo {
    width: auto;
    margin: 0 5px 0;
  }
  .menu {
    font-size: 14px;
    font-weight: unset;
  }
}
