.maintitle{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 11px;
    color: #929298;
}
.lighttitle{
    color: #FFFFFF;
}
.secondarytitle{
    font-size: 28px;
    font-weight: 400;
    color: #929298;
    .percentage{
        margin: 0 30px;
    }
}
.smalltitle{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #FFFFFF;
   
}
.pt{
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.trade{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
    .title{
        font-size: 24px;
        font-weight: 600;
        line-height: 52px;
        color: #B5B6B6;
    }
    .search{
        margin-top: 12px;
    }
    .coinList{
        width: 100%;
        padding: 20px 50px;
    }
