@import '~antd/lib/style/themes/default.less';
.acycardlist{
  padding: 0 50px;
  .acl_title{
    font-size: 18px;
    line-height: 50px;
    font-weight: 400;
    color: #929298;
  }
  .acl_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.thin{
  text-align: center;
  margin: 20px 0;
  display: inline-block;
  font-size: 24px;
  padding: 25px 87px;
  background: #2F3033;
  border-radius: 15px;
}
.fat{
  text-align: center;
  font-size: 20px;
  display: inline-block;
  padding: 18px 22px 6px;
  background: #2F3033;
  border-radius: 15px;
}
.agree{
  width: 100%;
  padding: 24px 26px;
  background: #373739;
  font-size: 24px;
  color: #ffffff;
  border-radius: 15px;
  span{
    font-size: 24px;
    vertical-align: bottom;
  }
  strong{
    color: #EB5C20;
  }
}