@property --rotate {
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.magic-card-body {
  position: relative;
  /* width: fit-content; */
  height: auto;
}
.magic-card {
  /* background: #191c29; */
  position: relative;
  border-radius: 6px;
  cursor: pointer;
  z-index: 1;
}

.magic-card-before {
  content: '';
  width: 344px;
  height: 224px;
  border-radius: 5px;
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  position: absolute;
  z-index: 0;
  animation: spin 2.5s linear infinite;
  top: -1.5px;
  left: -1.5px;
  display: none;
}
.magic-card:hover ~ .magic-card-before {
  display: block;
}
.magic-card-after {
  position: absolute;
  content: '';
  top: calc(var(--card-height) / 6);
  left: 0;
  top: 0;
  z-index: 0;
  width: 344px;
  height: 224px;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
  display: none;
}

.magic-card:hover ~ .magic-card-after {
  display: block;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
