/* @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap'); */
@import 'font.css';

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  height: 220px;
  background-color: #1b1b1c;
  padding: 15px 5px 15px 10px;
  /* border-radius: 5px 1px 5px 5px; */
  border-radius: 5px;
  font-family: 'Karla';
  justify-content: center;
}

.projects-container:hover{
  cursor: pointer;
}

.logo-text {
  width: fit-content;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.logo-countdown-container {
  height: 60%;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.projects-card .logo-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* margin-right: 30px; */
  padding: 5px;
}
.projects-card .logo {
  height: 50px;
  width: 50px;
  vertical-align: middle;
  border-style: none;
  margin-bottom: 12px;
}
.projects-card .logo img {
  height: 50px;
  width: 50px;
}
.projects-card .countdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Countdown */
.countDown-container {
  margin-top: 2px;
  margin-bottom: 8px;
}
.countDown-box {
  justify-content: center;
  display: flex;
  align-items: center;
}

.countDown-number {
  justify-content: center;
}

.countDown-number-1 {
  flex-direction: row;
  color: #b5b5b6;
  color: white;
  color: white;
  color: var(--accent-color, white);
  width: 30px;
  height: 30px;
  border-radius: 2px;
  background-color: hsla(0, 0%, 82.7%, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 5px 5px 0px 5px;
}

.countDown-number-2 {
  display: flex;
  justify-content: center;
  font-size: 10px;
  padding-top: 5px;
}

.seperator {
  margin: 0px 1px 15px 1px;
  font-size: 20px;
  color: #eb5c20;
}

/* incoming projects */
.incoming-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expanding-card {
  display: flex;
  flex-direction: row;
}
.expanding-card .cards {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  /* width: 33%; */
}
.expanding-card .card {
  margin: 0;
  width: 100%;
  /* width: calc((100% / 3) - 30px); */
  transition: all 0.2s ease-in-out;
}
/* @media screen and (max-width: 991px) {
  .expanding-card .card {
    width: calc((100% / 2) - 30px);
  }
}
@media screen and (max-width: 767px) {
  .expanding-card .card {
    width: 100%;
  }
} */
.expanding-card .card:hover .card__inner {
  /* background-color: #1abc9c; */
  transform: scale(1.02);
}
.expanding-card .card__inner {
  width: 100%;
  /* padding: 30px; */
  position: relative;
  cursor: pointer;
  /* background-color: #949fb0; */
  /* color: #eceef1; */
  /* font-size: 1.5em; */
  /* text-transform: uppercase; */
  /* text-align: center; */
  transition: all 0.2s ease-in-out;
}
.expanding-card .card__inner:after {
  transition: all 0.3s ease-in-out;
}
.expanding-card .card__inner .fa {
  width: 100%;
  margin-top: 0.25em;
}
.expanding-card .card__expander {
  transition: all 0.2s ease-in-out;
  background-color: #1b1b1c;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #eceef1;
  font-size: 1.5em;
}
.expanding-card .card__expander .fa {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.expanding-card.card__expander .fa:hover {
  opacity: 0.9;
}
.expanding-card .card.is-collapsed .card__inner:after {
  content: '';
  opacity: 0;
}
.expanding-card .card.is-collapsed .card__expander {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}
.expanding-card .card.is-expanded .card__inner:after {
  content: '';
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  /* border-bottom: 15px solid #333a45; */
}

.expanding-card .card.is-expanded .card__inner .fa:before {
  content: '\f115';
}
.expanding-card .card.is-expanded .card__expander {
  max-height: 1000px;
  min-height: 270px;
  overflow: visible;
  margin-top: 5px;
  opacity: 1;
}
.expanding-card .card.is-expanded:hover .card__inner {
  transform: scale(1);
}
.expanding-card .card.is-inactive .card__inner {
  pointer-events: none;
  opacity: 0.5;
}
.expanding-card .card.is-inactive:hover .card__inner {
  /* background-color: #949fb0; */
  transform: scale(1);
}
/* @media screen and (min-width: 992px) {
  .expanding-card .card:nth-of-type(3n + 2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .expanding-card .card:nth-of-type(3n + 3) .card__expander {
    margin-left: calc(-200% - 60px);
  }
  .expanding-card .card:nth-of-type(3n + 4) {
    clear: left;
  }
  .expanding-card .card__expander {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .expanding-card .card:nth-of-type(2n + 2) .card__expander {
    margin-left: calc(-100% - 30px);
  }
  .expanding-card .card:nth-of-type(2n + 3) {
    clear: left;
  }
  .expanding-card .card__expander {
    width: calc(200% + 30px);
  }
} */

/* see more incoming */

.incoming-container .expanding-card {
  position: relative;
  height: calc((240px));
  overflow: hidden;
}

.incoming-container .expanded {
  height: calc(2 * (220px + 40px) + 240px);
}

.incoming-container.active .expanding-card {
  height: auto;
}

.incoming-container .expanding-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 220px; */
  background: linear-gradient(transparent, #0e0304);
  z-index: 1;
}

.incoming-container-active .expanding-card::before {
  display: none;
}

.see-more-incoming {
  position: relative;
  padding: 10px 15px;
  background: #333a45;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-size: 14px;
  width: fit-content;
  height: auto;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
}

.see-more-incoming::before {
  content: 'See More';
}

.incoming-container.active .see-more-incoming::before {
  content: 'See Less';
}

/* ended projects */
.ended-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.expanding-card2 {
  display: flex;
  flex-direction: row;
}
.expanding-card2 .cards2 {
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  /* width: 33%; */
}
.expanding-card2 .card2 {
  margin: 0;
  width: 100%;
  /* width: calc((100% / 3) - 30px); */
  transition: all 0.2s ease-in-out;
}

.expanding-card2 .card2:hover .card2__inner2 {
  /* background-color: #1abc9c; */
  transform: scale(1.05);
}
.expanding-card2 .card2__inner2 {
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.expanding-card2 .card2__inner2:after {
  transition: all 0.3s ease-in-out;
}
.expanding-card2 .card2__inner2 .fa2 {
  width: 100%;
  margin-top: 0.25em;
}
.expanding-card2 .card2__expander2 {
  transition: all 0.2s ease-in-out;
  background-color: #333a45;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eceef1;
}
.expanding-card2 .card2__expander2 .fa2 {
  font-size: 0.75em;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.expanding-card2.card2__expander2 .fa2:hover {
  opacity: 0.9;
}
.expanding-card2 .card2.is-collapsed2 .card2__inner2:after {
  content: '';
  opacity: 0;
}
.expanding-card2 .card2.is-collapsed2 .card2__expander2 {
  max-height: 0;
  min-height: 0;
  overflow: hidden;
  margin-top: 0;
  opacity: 0;
}
.expanding-card2 .card2.is-expanded2 .card2__inner2:after {
  content: '';
  opacity: 1;
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 15px);
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  /* border-bottom: 15px solid #333a45; */
}
.expanding-card2 .card2.is-expanded2 .card2__inner2 .fa2:before {
  content: '\f115';
}
.expanding-card2 .card2.is-expanded2 .card2__expander2 {
  max-height: 1000px;
  min-height: 300px;
  overflow: visible;
  margin-top: 5px;
  opacity: 1;
}
.expanding-card2 .card2.is-expanded2:hover .card2__inner2 {
  transform: scale(1);
}
.expanding-card2 .card2.is-inactive2 .card2__inner2 {
  pointer-events: none;
  opacity: 0.5;
}
.expanding-card2 .card2.is-inactive2:hover .card2__inner2 {
  /* background-color: #949fb0; */
  transform: scale(1);
}

/* see more ended */
.ended-container .expanding-card2 {
  position: relative;
  overflow: hidden;
}

.ended-container .expanded {
  height: calc(3 * (220px + 20px) + 240px);
}

.ended-container.active .expanding-card2 {
  height: auto;
}

.ended-container.active .expanding-card2::before {
  display: none;
}

.see-more-ended {
  position: relative;
  padding: 10px 15px;
  background: #333a45;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  font-size: 14px;
  width: fit-content;
  height: auto;
  font-family: 'Karla', sans-serif;
  font-weight: 600;
}

.see-more-ended::before {
  content: 'See More';
}

.ended-container .expanding-card2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 220px;
  background: linear-gradient(transparent, #000000);
  z-index: 1;
}

.ended-container.active .see-more-ended::before {
  content: 'See Less';
}

/* Bubbly Button */
.bubbly-button {
  text-align: center;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-right: 1em;
  margin-bottom: 1em;
  width: 200px;
  -webkit-appearance: none;
  appearance: none;
  background-color: none;
  color: #fff;
  border-radius: 4px;
  border: 2px solid #29292c;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 5px #b5b5b6;
}

.bubbly-button .inner-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Karla', sans-serif;
}

.bubbly-button:focus {
  outline: 0;
}
.bubbly-button::before,
.bubbly-button::after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 60px;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button.animate::before {
  display: block;
  top: -75%;
  background-image: radial-gradient(circle, #b5b5b6 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #b5b5b6 20%, transparent 30%),
    radial-gradient(circle, #b5b5b6 20%, transparent 20%),
    radial-gradient(circle, #b5b5b6 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #b5b5b6 15%, transparent 20%),
    radial-gradient(circle, #b5b5b6 20%, transparent 20%),
    radial-gradient(circle, #b5b5b6 20%, transparent 20%),
    radial-gradient(circle, #b5b5b6 20%, transparent 20%),
    radial-gradient(circle, #b5b5b6 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}
.bubbly-button.animate::after {
  display: block;
  bottom: -75%;
  background-image: radial-gradient(circle, #b5b5b6 20%, transparent 20%),
    radial-gradient(circle, #b5b5b6 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #b5b5b6 15%, transparent 20%),
    radial-gradient(circle, #b5b5b6 20%, transparent 20%),
    radial-gradient(circle, #b5b5b6 20%, transparent 20%),
    radial-gradient(circle, #b5b5b6 20%, transparent 20%),
    radial-gradient(circle, #b5b5b6 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  animation: bottomBubbles ease-in-out 0.75s infinite;
}
.bubbly-button:hover {
  transform: scale(0.9);
  /* background-color: #e60074; */
  box-shadow: 0 2px 10px #b5b5b6;
}
.bubbly-button.animate::before {
  display: block;
  animation: topBubbles ease-in-out 0.75s infinite;
}
.bubbly-button.animate::after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s infinite;
}

.bubbly-button:hover {
  color: white;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%,
      70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%,
      90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%,
      90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
/* Raise button */
.raise-button .raise {
  text-align: center;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-right: 1em;
  margin-bottom: 1em;
  -webkit-appearance: none;
  appearance: none;
  background-color: none;
  border: 2px solid #29292c;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 5px #b5b5b6;
  width: 180px;
  font-family: 'Karla', sans-serif;
}

.raise-button .inner-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #b5b5b6;
  }
}
.raise-button .raise:hover,
.raise-button .raise:focus {
  transform: scale(0.9);
  animation: pulse 1s;
  border-radius: 0px;
  box-shadow: 0 0 0 1em rgba(255, 255, 255, 0);
}

.inner-text {
  justify-content: center;
}

/* Responsive */
@media (max-width: 640px) {
  .bubbly-button {
    margin-right: 0;
    width: 200px;
    text-align: center;
  }
  .inner-text {
    justify-content: center;
  }
  .raise-button .raise {
    margin-right: 0;
    width: 200px;
  }
}

/* Expanded cards content [24 icons]*/
.expanded-content-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.expanded-content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  width: 54px;
  height: 54px;
  background-color: #353535;
  border-radius: 4px;
}

.expanded-content-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.expanded-content-icon {
  width: 46px;
  height: 46px;
}

.expanded-content-text {
  font-size: 8px;
  margin-bottom: 2px;
  color: #ffffff;
}
