.stakeSection {
  width: 49%;
  background-color: #1B1B1C;
  color: #b5b6b6;
  border-radius: 15px;
  display: flex;
  flex-direction: column;

  .stakeContentWrapper {
    padding: 15px;
    border-bottom: 1px solid #434343;
  }

  .rewardContentWrapper {
    padding: 15px;

    .rewardRow {
      display: flex;

      .rewardRowTitle {
        flex: 1;
        font-size: 1.5rem;
      }
      .cryptoSelectionContainer {
        flex: 3;

        .tokenSelectionContainer {
          display: flex;

          .tokenSelection {
            flex: 1;
            display: flex;
            align-items: flex-start;
            flex-direction: column;

            .tokenDropdown {
              margin-bottom: 0.75rem;
              display: flex;
              align-items: center;

              .tokenImg {
                width: 32px;
              }

              .tokenSymbol {
                margin-left: 0.5rem;
              }
            }

            .tokenDropdown:hover {
              cursor: pointer;
            }

            .tokenPercentage {
              margin-bottom: 0.75rem;

              .suffix {
                font-size: 1.5rem;
                position: relative;
                right: 1.5rem;
              }

              .tokenPercentageInput {
                width: 50%;
                background-color: #4c4c4d;
                border: none;
                border-radius: 7.5px;
                padding: 0 1rem;
                font-size: 1.5rem;
              }

              .tokenPercentageInput:focus {
                outline: none;
                box-shadow: 0 0 0 1pt #EB5C20;
                transition: .1s;
              }
            }
          }
        }

        .stakeSubmitButton {
          width: 70%;
          background-color: #4c4c4d;
          border: none;
          border-radius: 7.5px;
          font-size: 1.5rem;
          padding: 0 1rem;
        }

        .stakeSubmitButton:hover {
          background-color: #5f5f5f;
          cursor: pointer;
        }
      }
    }
  }
}

.stakeUpperSection {
  display: flex;
  flex-direction: column;
}

.amountRow {
  display: flex;
  margin-bottom: 1.5rem;

  div:first-child {
    flex: 1;
    font-size: 1.5rem;
  }

  div:last-child {
    flex: 3;

    input {
      width: 70%;
      background-color: #4c4c4d;
      border: none;
      border-radius: 7.5px;
      font-size: 1.5rem;
      padding: 0 1rem;
      -moz-appearance: textfield;
      box-shadow: 0 0 0 1pt transparent;
    }

    input:focus {
      outline: none;
      box-shadow: 0 0 0 1pt #EB5C20;
      transition: .1s;
    }

    .suffix {
      font-size: 1.5rem;
      position: relative;
      right: 3.75rem;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.balanceRow {
  display: flex;
  margin-bottom: 1.5rem;

  .balanceRowTitle {
    flex: 1;
  }

  .sliderContainer {
    flex: 3;
    display: flex;
    align-items: center;

    .balancePercentage {
      margin-left: 0.5rem;
    }

    .sliderContentWrapper {
      width: 70%;
      display: flex;
      align-items: center;

      .sliderWrapper {
        flex: 1;
        margin-left: 1.5rem;
      }

      .slider {
        margin-bottom: 0.7rem;
        width: 100%;

        -webkit-appearance: none;
        appearance: none;
        height: 3px; /* Specified height */
        background: black; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
        transition: opacity 0.2s;
      }

      .slider:hover {
        opacity: 1; /* Fully shown on mouse-over */
      }

      .slider::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 15px; /* Set a specific slider handle width */
        height: 15px; /* Slider handle height */
        border-radius: 50%;
        background-color: #5f5f5f; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }

      .slider::-moz-range-thumb {
        width: 15px; /* Set a specific slider handle width */
        height: 15px; /* Slider handle height */
        background-color: #5f5f5f; /* Green background */
        cursor: pointer; /* Cursor on hover */
      }
    }
  }
}

.lockTimeRow {
  display: flex;

  .lockTimeRowTitle {
    flex: 1;
  }

  .dateSelectionContainer {
    flex: 3;
    display: flex;
    flex-direction: column;

    .datePickerContainer {
      margin-bottom: 0.75rem;
    }

    .presetDurationContainer {
      display: flex;

      .presetDurationSelection {
        flex: 1;
        color: #b5b6b6;
        background-color: #4c4c4d;
        border-radius: 0.3rem;
        padding: 0 0.5rem;
        text-align: center;
      }

      .presetDurationSelection:not(:first-child) {
        margin-left: 1rem;
      }

      .presetDurationSelection:hover {
        background-color: #5f5f5f;
        cursor: pointer;
      }
    }
  }
}

.datePickerInput {
  color: #b5b6b6;
  background-color: #4c4c4d;
  border: none;
  border-radius: 0.3rem;
  font-size: 1.25rem;
  padding: 0 1rem;
}

.datePickerInput:hover {
  background-color: #5f5f5f;
  cursor: pointer;
}

.modal {
  :global {
    .ant-modal-content {
      border-radius: 20px;
      background: transparent;
    }
  }

  .modalListItem {
    border-radius: 0.3rem;
    display: flex;
    margin-bottom: 1rem;
    padding: 0.25rem 0.5rem;

    .modalListLogoContainer {
      .modalListLogo {
        width: 32px;
      }
    }

    .modalListSymbol {
      margin-left: 1.5rem;
    }
  }

  .modalListItem:hover {
    background-color: #5f5f5f;
    cursor: pointer;
  }
}

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 52px;
  color: #b5b6b6;
}
.search {
  margin-top: 12px;
}
.coinList {
  width: 100%;
  padding: 20px 0;
}

@media (max-width: 768px) {
  .stakeSection {
    width: 90%;
  }
}
