@import '~antd/lib/style/themes/default.less';
.acybutton {
  position: relative;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-family: PingFang SC;
  font-weight: 600;
  color: #ffffff;
  background: #eb5c20;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  &:active, &:hover {
    background-color: #c55222;
  }
}
.disabled {
  cursor: not-allowed;
  color: rgb(86, 90, 105);
  background: rgb(206, 208, 217)!important;
}
