@import '~antd/lib/style/themes/default.less';
.acybutton {
  position: relative;
  width: 100%;
  padding: 15px;
  font-size: 20px;
  font-family: "Karla", sans-serif;
  font-weight: 600;
  color: #ffffff;
  background: #eb5c20;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  &:active, &:hover {
    background-color: #c55222;
  }
}
.disabled {
  cursor: not-allowed;
  color: #333333;
  background: transparent !important;
  border: 0.75px solid #333333;
}
