@import (css) url("https://fonts.googleapis.com/css?family=Lora:700");
.bannerBox{
    // background-color: #000;
    // padding: auto;
    width: 100%;
  }
  .detailStyle{
    font-size: 35px;
  }
  .APYCard{
    display: inline-block;
    border: 0.75px solid #333333;
    color:#b5b5b6;
    font-family: Karla, sans-serif;
    // margin-left: 10px;
    margin-right: 5%;
    padding: 8px;
    width:20%;
    border-radius: 10px;
  }
  .accountCard{
    display: inline-block;
    border: 0.75px solid #333333;
    color:#b5b5b6;
    font-family: Karla, sans-serif;
    // margin-left: 10px;
    padding: 8px;
    width:75%;
    border-radius: 10PX;
  }  
  .const{
    font-size: 22px;
  }
  .accountDetail{
    width: 33%;
    display: inline-block
    }


