@import (css) url("https://fonts.googleapis.com/css?family=Lora:700");

.APYtable{
    background-color: #29292c;
    padding-left: 20px;
    padding: absolute;
    margin-top: 50px;
    height: 500px;
    width: 100%;
  }
  .tableHeadBlock{
    float: left;
    width: 50%;
    display: table-cell;
    margin-bottom: 20px;
  }
  .data{
    color: #fff;
    font-size: 40px;
    margin-top:5px;
  }
  .expContent{
    color:#fff;
  }
  .tableData{
    margin-top: 5px;
  }
  .APYtableData{
    font-size: 20px;
    color: #fff;
    margin: 0 auto;
    border-spacing: 0px;
    border-collapse: collapse;
  }
  .tableTr{
    border-bottom: 2px solid #797775;
    border-top: 2px solid #797775;
  }
  .tableTh{
    border-bottom: 2px solid #fff;
  }