@import '~antd/lib/style/themes/default.less';

@pro-header-hover-bg: rgba(0, 0, 0, 0.025);

.header {
  height: @layout-header-height;
  padding: 0;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
  position: relative;
}

.logo {
  height: @layout-header-height;
  line-height: @layout-header-height;
  vertical-align: top;
  display: inline-block;
  padding: 0 0 0 24px;
  cursor: pointer;
  font-size: 20px;
  img {
    display: inline-block;
    vertical-align: middle;
  }
}
.menu {
  :global(.anticon) {
    margin-right: 8px;
  }
  :global(.ant-dropdown-menu-item) {
    min-width: 160px;
  }
}

.trigger {
  font-size: 20px;
  height: @layout-header-height;
  cursor: pointer;
  color: @primary-color;
  transition: all 0.3s, padding 0s;
  padding: ~'calc((@{layout-header-height} - 33px) / 2)' 24px;
}

.right {
  float: right;
  height: 100%;
  overflow: hidden;
  .action {
    cursor: pointer;
    padding: 0 12px;
    display: inline-block;
    transition: all 0.3s;
    height: 100%;
    > i {
      vertical-align: middle;
      color: @text-color;
    }
    &:hover {
      background: @pro-header-hover-bg;
    }
    &:global(.opened) {
      background: @pro-header-hover-bg;
    }
  }
  .search {
    padding: 0 12px;
    &:hover {
      background: transparent;
    }
  }
  .account {
    .avatar {
      margin: ~'calc((@{layout-header-height} - 24px) / 2)' 0;
      margin-right: 8px;
      color: @primary-color;
      background: rgba(255, 255, 255, 0.85);
      vertical-align: top;
    }
  }
}

.dark {
  height: @layout-header-height;
  .action {
    color: rgba(255, 255, 255, 0.85);
    > i {
      color: rgba(255, 255, 255, 0.85);
    }
    &:hover,
    &:global(.opened) {
      background: @primary-color;
    }
    :global(.ant-badge) {
      color: rgba(255, 255, 255, 0.85);
    }
  }
}
.walltitle {
  font-size: 30px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.metamasktitle {
  color: #ed6c36;
  font-size: 36px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
}
.coin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 36px;
  font-weight: 600;
  color: #ffffff;
  .coinname {
  }
  .coinprice {
    .dollar {
      font-size: 24px;
      font-weight: 400;
      color: #b5b6b6;
    }
  }
}
.buyCrypto {
  padding: 20px 50px;
  font-size: 24px;
  font-weight: 600;
  color: #b5b6b6;
}
.transak {
  width: 260px;
  display: flex;
  margin: 0 50px;
  padding: 21px 26px;
  border: 2px solid #ed6c36;
  border-radius: 20px;
  font-size: 36px;
  font-weight: 600;
  color: #b5b6b6;
}
.clear {
  margin: 32px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 26px;
  font-weight: 400;
  color: #b5b6b6;
  .subtitle {
    font-size: 24px;
  }
}
.setting {
  width: 500px;
  padding: 30px;
  background: #2a2a2d;
  border: 1px solid #707070;
  border-radius: 30px 3px 30px 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #b5b6b6;
  .list {
    .listitem {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .message {
    margin-top: 22px;
    padding: 22px 13px;
    background: #373739;
    border-radius: 10px;
  }
}
@media only screen and (max-width: @screen-md) {
  .header {
    :global(.ant-divider-vertical) {
      vertical-align: unset;
    }
    .name {
      display: none;
    }
    i.trigger {
      padding: 22px 12px;
    }
    .logo {
      padding-left: 12px;
      padding-right: 12px;
      position: relative;
    }
    .right {
      position: absolute;
      right: 12px;
      top: 0;
      .account {
        .avatar {
          margin-right: 0;
        }
      }
    }
  }
}
