@import '~antd/lib/style/themes/default.less';
@cardColor: #2f313583;
@mainColor: #c4c4c4;


.Container {

    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    margin-bottom: 1.5rem!important;

    max-width: 1160px;
}

.Selector {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 1.5rem!important;
}

.Btn {
   
    border-width: 2px;
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: #6825e7;
    border-color: #ba84ff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    background: linear-gradient(90deg,#6825e7,#aa58b8);
    box-shadow: 0 0 24px 0 rgba(133,60,210,.5);
    outline: none;
    color: #fff;
    text-decoration: none;

    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;


    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter!important;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter!important;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter!important;
    transition-timing-function: cubic-bezier(.4,0,.2,1)!important;
    transition-duration: .15s!important;


    font-size: 1.125rem!important;
    line-height: 1.75rem!important;
    font-family: PFDinDisplayPro,sans-serif!important;

    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
    padding-top: .75rem!important;
    padding-bottom: .75rem!important;

    --tw-border-opacity: 1!important;
    border-color: rgba(104,37,231,var(--tw-border-opacity))!important;
    border-width: 2px!important;
    border-radius: .5rem!important;

    transform: var(--tw-transform)!important;
    
}

.bg_none {

    border-width: 2px;
    padding-top: .75rem;
    padding-bottom: .75rem;
    background-color: #6825e7;
    border-color: #ba84ff;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    background: linear-gradient(90deg,#6825e7,#aa58b8);
    box-shadow: 0 0 24px 0 rgba(133,60,210,.5);
    outline: none;
    color: #fff;
    text-decoration: none;

    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;


    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter!important;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter!important;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter!important;
    transition-timing-function: cubic-bezier(.4,0,.2,1)!important;
    transition-duration: .15s!important;


    font-size: 1.125rem!important;
    line-height: 1.75rem!important;
    font-family: PFDinDisplayPro,sans-serif!important;

    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
    padding-top: .75rem!important;
    padding-bottom: .75rem!important;

    --tw-border-opacity: 1!important;
    border-color: rgba(104,37,231,var(--tw-border-opacity))!important;
    border-width: 2px!important;
    border-radius: .5rem!important;

    transform: var(--tw-transform)!important;


    background-image: none!important;
}

.Row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.CardBlock {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;

    padding-top: 1.5rem!important;
    padding-bottom: 1.5rem!important;

    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

.Card{

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1rem;

    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter!important;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter!important;
    transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter!important;
    transition-timing-function: cubic-bezier(.4,0,.2,1)!important;
    transition-duration: .15s!important;

    --tw-bg-opacity: 1!important;
    background-color: rgba(18,17,46,var(--tw-bg-opacity))!important;

    border-color: rgba(82,54,117,var(--tw-border-opacity))!important;
    overflow: hidden!important;
    transform: var(--tw-transform)!important;
    height: 100%!important;
    position: relative!important;

    :global{

        .ant-card-body{
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1.25rem;

            justify-content: space-between!important;
            flex-direction: column!important;

            display: flex!important;
        }

    }

    .CardHead{
        justify-content: space-between !important;
        display: flex !important;
    }

    .CardImg{

        height: 60px;
        width: 60px!important;
        vertical-align: middle;
        border-style: none;
    }

    .ConnectBar{
        color: rgba(186,132,255,var(--tw-text-opacity))!important;
        --tw-text-opacity: 1!important;
        font-size: 1.25rem!important;
        line-height: 1.75rem!important;
        align-items: center!important;
        flex-wrap: wrap!important;
        display: flex !important;
        z-index: 20!important;
        position: relative !important;

        // list-style: none;
        margin-top: 20px;
        margin-bottom: 50px;
        // // padding: 0;
    }

    .Label0{
        font-weight: 600!important;
        font-size: 1.25rem!important;
        line-height: 1.75rem!important;
    }

    .Label1{
        color: rgba(163,163,163,var(--tw-text-opacity))!important;
        --tw-text-opacity: 1!important;
        line-height: 1!important;
    }
}

.smalltext0{
    font-size: .875rem!important;
    line-height: 1.25rem!important;
    opacity: .7!important;

}

.smalltext{
    font-size: .875rem!important;
    line-height: 1.25rem!important;
    opacity: 1;
    margin-top: 10px;

}

.maintext{
    color: rgba(186,132,255,var(--tw-text-opacity))!important;
    --tw-text-opacity: 1!important;
}

.iconbar{
    margin: 0.25em;
}