.seg {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.03);
  text-align: center;
  .item {
    padding: 0 8px;
    flex: 1;

    &:hover {
      color: #EB5C20;
      cursor: pointer;
    }
  }

  .active {
    color: #EB5C20;
    border-radius: 5px;
  }
}
