@import '~antd/lib/style/themes/default.less';
.acycuarrencycard{
  display: inline-block;
  width: 100%;
  word-break: break-all;
  .cua_title{
    font-size: 14px;
    font-weight: 400;
    color: #929298;
    padding: 0 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  .cua_body{
    background: #191B20;
    border-radius: 15px;
    padding:10px;
    // display: flex;
    // justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
    .bottomRow{
      display:flex;
      align-items:center;
      justify-content: space-between;
    }
    .coin{
      cursor: pointer;
      display: flex;
      margin-right: 0;
    }
    .price{
      .dollar{
        font-size: 14px;
        font-weight: 400;
        color: #929298;
      }
     :global{
      .ant-input{
        height: 50px;
        font-size: 25px;
        font-weight: bold;
        line-height: 20px;
        padding: 10px;
        // width: 100px
      }
     }
    }
  }
}
