@import '~antd/lib/style/themes/default.less';
.acycuarrencycard{
  display: inline-block;
  .cua_title{
    font-size: 14px;
    font-weight: 400;
    color: #929298;
    padding: 0 18px;
    display: flex;
    justify-content: space-between;
  }
  .cua_body{
    background: #191B20;
    border-radius: 15px;
    padding:26px 20px;
    display: flex;
    font-size: 20px;
    font-weight: 400;
    .coin{
      cursor: pointer;
      display: flex;
      margin-right: 44px;
    }
    .price{
      .dollar{
        font-size: 14px;
        font-weight: 400;
        color: #929298;
      }
     
    }
  }
}
