html,
body,
#root {
  height: 100%;
}

p {
  margin: 0;
  padding: 0;
}
.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ant-table-tbody > tr > td {
  border: 0 !important;
  margin: 20px 0 !important;
  color: #b5b6b6 !important;
  border-bottom: solid 1px #75757933 !important;
}
.ant-table-thead > tr,
.ant-table-tbody > tr {
  background: #2f313583;
  border-radius: 10px !important;
  margin: 10px auto !important;
  width: 100% !important;
  border: 0;
}
.ant-table-thead > tr > th {
  border: 0 !important;
  overflow-wrap: normal !important;
  border-bottom: solid 1px #75757933 !important;
}
.ant-table-thead > tr > th:not(.leftAlignTableHeader) {
  text-align: right !important;
  // border-bottom: solid 1px #75757933 !important;
}
.ant-table-thead > tr > th:nth-child(1) {
  border: 0 !important;
  text-align: left !important;
  border-bottom: solid 1px #75757933 !important;
}

.ant-table-footer::before {
  background-color: #2f313583 !important;
}
.ant-table-footer {
  background-color: #2f313583 !important;
  border: 0 !important;
}


.ant-input {
  height: 30px;
  width: 100px;
}
leftAlignTableHeader .leftAlign {
  text-align: left !important;
  border-bottom: solid 1px #75757933 !important;
}

.ant-menu-submenu-popup {
  background-color: #2f3135 !important;
}

.ant-table-placeholder{
  border:none !important;
  color: #b5b5b6 !important;
  background: rgba(47,49,53,.5137254901960784) !important;
}
.ant-empty-normal{
  color: #b5b5b6 !important;
}

// pagination
// place override styles inside #root when dynamicImport is switched on.
// https://juejin.cn/post/6901934719542231053
#root {
  .ant-pagination {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
  }
  .ant-pagination-prev {
    margin-right: 20%;
  }
  .ant-pagination-next {
    margin-left: 20%;
  }
  .ant-pagination-item, .ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-next, .ant-pagination-jump-prev, .ant-pagination-item-ellipsis {
    color: white;
    border: 0;
    border-radius: 50%;
    background-color: transparent;
  
    a {
      border: 0;
      background-color: transparent;
      color: white;
    }
    
    &:hover {
      // color: black;
      background-color: #282828;
  
      a {
        color: white;
      }
    }
  }
  .ant-pagination-item-active, .ant-pagination-item-active:hover {
    background-color: #3f3f3f;
    
    a {
      color: white;
    }
  }
  .ant-pagination-item-container {
    i, span {
      color: whitesmoke;
    }
  }
  .ant-pagination-disabled {
    color: transparent;
    a {
      cursor: default;
      color: transparent;
    }
    &:hover {
      background-color: inherit;
      a {
        color: transparent;
      }
    }
  }

  .ant-divider-horizontal {
    opacity: 0.2;
}
  // swap page chart area
  .ant-card-head {
    padding: 0 8px;
  }

  // swap page position table style
  #liquidityPositionTable {
    .ant-table-tbody > tr > td {
      padding: 8px 16px;
      overflow-wrap: break-word;
    }
    .ant-table-expanded-row-level-1 > td {
      padding: 8px 0 !important;
    }
    .ant-table-fixed-header .ant-table-scroll .ant-table-header::-webkit-scrollbar {
      border: 0;
    }
    .ant-table-header, .ant-table-body {
      background-color: transparent;
    }
    .ant-table-header {
      overflow: hidden!important;
      padding-bottom: 20px!important;
    }
    .ant-table-body {
      // the max-height will only work when AcyLiquidityPositions.js scroll: {y: ??} is set 
      // and overwrite its max-height by "!important"
      // the mentioned setting in source file will move table header and table body into separate div,
      // max-height will be set to the div containing tbody.

      // auto-hiding scroll bar will work by having overflow:hidden and both .ant-table-body and #liquidityPositionTable
      // hover set to overflow-Y: overlay
      max-height: 350px!important;
      overflow: hidden!important;
      &:hover {
        overflow-y: overlay!important;
      }
    }
    &:hover {
      overflow-y: overlay!important;  // as mentioned above, this is necessary
    }

    .ant-table-row {
      cursor: pointer;
      // background-color: transparent!important;
    }
    .centerAlignTableHeader {
      text-align: center!important;
      white-space: nowrap;
    }
    tr.ant-table-expanded-row, tr.ant-table-expanded-row:hover {
      background-color: #29292c;
    }

    // dash line on expanded row
    .ant-table-expanded-row.ant-table-row-level-0 > td {
      border-bottom: dashed 2px #75757933 !important;
    }
    .ant-table-thead > tr, .ant-table-thead > tr > th {
      padding: 0 16px 16px;
      background-color: transparent;
      font-weight: normal;
    }
    .ant-table-thead > tr > th.ant-table-column-sort {
      background: transparent;
    }
    .ant-table-footer {
      background: transparent !important;
    }
  }

  // scrollbar
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #4d4d4d; 
    border-radius: 5px;
  }
  ::-webkit-scrollbar-corner {
    background-color: #00000000;
  }
  #transferTable {
    .ant-table-tbody > tr > td {
      overflow-wrap: break-word;
    }
    .ant-table-expanded-row-level-1 > td {
      padding: 8px 0 !important;
    }
    .ant-table-fixed-header .ant-table-scroll .ant-table-header::-webkit-scrollbar {
      border: 0;
    }
    .ant-table-header, .ant-table-body {
      background-color: transparent;
    }
    .ant-table-header {
      overflow: hidden!important;
      padding-bottom: 20px!important;
    }
    .ant-table-body {
      // the max-height will only work when AcyLiquidityPositions.js scroll: {y: ??} is set 
      // and overwrite its max-height by "!important"
      // the mentioned setting in source file will move table header and table body into separate div,
      // max-height will be set to the div containing tbody.

      // auto-hiding scroll bar will work by having overflow:hidden and both .ant-table-body and #liquidityPositionTable
      // hover set to overflow-Y: overlay
      max-height: 305px!important;
      overflow: hidden!important;
      &:hover {
        overflow-y: overlay!important;
      }
    }
    &:hover {
      overflow-y: overlay!important;  // as mentioned above, this is necessary
    }
    .ant-table-row.ant-table-row-level-0 {
      // background-color: transparent!important;
    }
    .centerAlignTableHeader {
      text-align: center!important;
      white-space: nowrap;
    }
    tr.ant-table-expanded-row, tr.ant-table-expanded-row:hover {
      background-color: #29292c;
    }

    // dash line on expanded row
    .ant-table-expanded-row.ant-table-row-level-0 > td {
      border-bottom: dashed 2px #75757933 !important;
    }
    .ant-table-thead > tr, .ant-table-thead > tr > th {
      background-color: transparent;
      font-weight: normal;
    }
    .ant-table-thead > tr > th.ant-table-column-sort {
      background: transparent;
    }
    .ant-table-footer {
      background: transparent !important;
    }
    .ant-table-placeholder{
      background: transparent !important;
    }
    .ant-table-tbody > tr{
      background:  transparent !important;
    }
    .ant-table-thead > tr > th:not(.leftAlignTableHeader){
      // text-align: center !important;
      background:  transparent !important;
    }
    
  }
}