html,
body,
#root {
  height: 100%;
  // width: fit-content;
  font-family: 'Karla';
  font-weight: 400;
}

p {
  margin: 0;
  padding: 0;
}
.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
  flex-direction: row !important;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ant-table-tbody > tr > td {
  border: 0 !important;
  margin: 20px 0 !important;
  color: #b5b6b6 !important;
  border-bottom: solid 1px #75757933 !important;
}
.ant-table-thead > tr,
.ant-table-tbody > tr {
  background: black;
  border-radius: 10px !important;
  margin: 10px auto !important;
  width: 100% !important;
  border: 0;
}
.ant-table-thead > tr > th {
  border: 0 !important;
  overflow-wrap: normal !important;
  border-bottom: solid 1px #75757933 !important;
}
.ant-table-thead > tr > th:not(.leftAlignTableHeader) {
  text-align: right !important;
  // border-bottom: solid 1px #75757933 !important;
}
.ant-table-thead > tr > th:nth-child(1) {
  border: 0 !important;
  text-align: left !important;
  border-bottom: solid 1px #75757933 !important;
}

.ant-table-footer::before {
  background-color: #2f313583 !important;
}
.ant-table-footer {
  background-color: #2f313583 !important;
  border: 0 !important;
}

// .ant-tabs-bar{
//   margin: 0 0 0 0 !important;
//   border-bottom: 0.75px solid #333333 !important;
//   font-family: "Karla", sans-serif !important;
// }
// .ant-tabs-nav-container{
//   // margin-bottom: 0px !important;
//   border: 0px solid #0e0304 !important;
// }
// .ant-radio-button-wrapper{
//   border-bottom: 0.75px solid #333333 !important;
//   border: 0px !important;
// }
// .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-nav-container{
//   height: 40px !important;
//   border-top: 0px solid #0e0304 !important;
//   border-right: 0px solid #0e0304 !important;
//   border-bottom: 0.75px solid #333333 !important;
// }
// // .ant-tabs-content-holder {
//   // border-width: 1px !important;
//   // border-color: #333333 !important;
//   // border-style: solid !important;
//   // border-top-style: none !important;
//   // padding: 1rem;
// // }

// .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab{
//   background: #333333 !important;
//   padding: 0 25px !important;
//   margin-right: 0px !important;
//   height: 40px !important;
//   color: #8e8e93 !important;
//   line-height: 40px !important;
//   border: 1px solid #333333 !important;
//   border-top: 2px solid #333333 !important;
//   border-radius: 0 0 0 0 !important;
//   // border-bottom: 0px !important;
//   font-size: 0.9rem;
// }
// .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active{
//   background: #0e0304 !important;
//   height: 40px !important;
//   color: #fff !important;
//   border-top: 2px solid #EB5C20 !important;
//   // border-top: 0.75px solid #333333 !important;  
//   // border-right: 0.75px solid #333333 !important;
//   border-left: 2px solid #0e0304 !important;
//   border-bottom: 1px solid #0e0304 !important;
//   z-index: 2 !important;
//   font-size: 1.2rem;
// }
// .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab:hover{
//   color: #fff !important;

// }
// //for the x button of closing tabs
// .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab .ant-tabs-close-x{
//   color: transparent !important;
// }
// .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab .ant-tabs-close-x:hover{
//   color: transparent !important;
// }
// //for the add button 
// .ant-tabs-extra-content .ant-tabs-new-tab{
//   color: #0e0304 !important;
//   border: 0px solid #0e0304 !important;
// }



.ant-input {
  height: 30px;
  width: 100px;
}
leftAlignTableHeader .leftAlign {
  text-align: left !important;
  border-bottom: solid 1px #75757933 !important;
}

.ant-menu-submenu-popup {
  background-color: #2f3135 !important;
}

.ant-table-placeholder{
  border:none !important;
  color: #b5b5b6 !important;
  background: rgba(47,49,53,.5137254901960784) !important;
}
.ant-empty-normal{
  color: #b5b5b6 !important;
}

// pagination
// place override styles inside #root when dynamicImport is switched on.
// https://juejin.cn/post/6901934719542231053
#root {
  .ant-pagination {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
  }
  .ant-pagination-prev {
    margin-right: 20%;
  }
  .ant-pagination-next {
    margin-left: 20%;
  }
  .ant-pagination-item, .ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-next, .ant-pagination-jump-prev, .ant-pagination-item-ellipsis {
    color: white;
    border: 0;
    border-radius: 50%;
    background-color: transparent;
  
    a {
      border: 0;
      background-color: transparent;
      color: white;
    }
    
    &:hover {
      // color: black;
      background-color: #282828;
  
      a {
        color: white;
      }
    }
  }
  .ant-pagination-item-active, .ant-pagination-item-active:hover {
    background-color: #3f3f3f;
    
    a {
      color: white;
    }
  }
  .ant-pagination-item-container {
    i, span {
      color: whitesmoke;
    }
  }
  .ant-pagination-disabled {
    color: transparent;
    a {
      cursor: default;
      color: transparent;
    }
    &:hover {
      background-color: inherit;
      a {
        color: transparent;
      }
    }
  }

  .ant-divider-horizontal {
    opacity: 0.2;
}
  // swap page chart area
  .ant-card-head {
    padding: 0 8px;
  }

  // swap page position table style
  #liquidityPositionTable {
    .ant-table-tbody > tr > td {
      padding: 8px 16px;
      overflow-wrap: break-word;
    }
    .ant-table-expanded-row-level-1 > td {
      padding: 8px 0 !important;
    }
    .ant-table-fixed-header .ant-table-scroll .ant-table-header::-webkit-scrollbar {
      border: 0;
    }
    .ant-table-header, .ant-table-body {
      background-color: transparent;
    }
    .ant-table-header {
      overflow: hidden!important;
      padding-bottom: 20px!important;
    }
    .ant-table-body {
      // the max-height will only work when AcyLiquidityPositions.js scroll: {y: ??} is set 
      // and overwrite its max-height by "!important"
      // the mentioned setting in source file will move table header and table body into separate div,
      // max-height will be set to the div containing tbody.

      // auto-hiding scroll bar will work by having overflow:hidden and both .ant-table-body and #liquidityPositionTable
      // hover set to overflow-Y: overlay
      max-height: 350px!important;
      overflow: hidden!important;
      &:hover {
        overflow-y: overlay!important;
      }
    }
    &:hover {
      overflow-y: overlay!important;  // as mentioned above, this is necessary
    }

    .ant-table-row {
      cursor: pointer;
      // background-color: transparent!important;
    }
    .centerAlignTableHeader {
      text-align: center!important;
      white-space: nowrap;
    }
    tr.ant-table-expanded-row, tr.ant-table-expanded-row:hover {
      background-color: #29292c;
    }

    // dash line on expanded row
    .ant-table-expanded-row.ant-table-row-level-0 > td {
      border-bottom: dashed 2px #75757933 !important;
    }
    .ant-table-thead > tr, .ant-table-thead > tr > th {
      padding: 0 16px 16px;
      background-color: transparent;
      font-weight: normal;
    }
    .ant-table-thead > tr > th.ant-table-column-sort {
      background: transparent;
    }
    .ant-table-footer {
      background: transparent !important;
    }
  }

  // scrollbar
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #4d4d4d; 
    border-radius: 5px;
  }
  ::-webkit-scrollbar-corner {
    background-color: #00000000;
  }
  #transferTable {
    .ant-table-tbody > tr > td {
      overflow-wrap: break-word;
    }
    .ant-table-expanded-row-level-1 > td {
      padding: 8px 0 !important;
    }
    .ant-table-fixed-header .ant-table-scroll .ant-table-header::-webkit-scrollbar {
      border: 0;
    }
    .ant-table-header, .ant-table-body {
      background-color: transparent;
    }
    .ant-table-header {
      overflow: hidden!important;
      padding-bottom: 20px!important;
    }
    .ant-table-body {
      // the max-height will only work when AcyLiquidityPositions.js scroll: {y: ??} is set 
      // and overwrite its max-height by "!important"
      // the mentioned setting in source file will move table header and table body into separate div,
      // max-height will be set to the div containing tbody.

      // auto-hiding scroll bar will work by having overflow:hidden and both .ant-table-body and #liquidityPositionTable
      // hover set to overflow-Y: overlay
      max-height: 305px!important;
      overflow: hidden!important;
      &:hover {
        overflow-y: overlay!important;
      }
    }
    &:hover {
      overflow-y: overlay!important;  // as mentioned above, this is necessary
    }
    .ant-table-row.ant-table-row-level-0 {
      // background-color: transparent!important;
    }
    .centerAlignTableHeader {
      text-align: center!important;
      white-space: nowrap;
    }
    tr.ant-table-expanded-row, tr.ant-table-expanded-row:hover {
      background-color: #29292c;
    }

    // dash line on expanded row
    .ant-table-expanded-row.ant-table-row-level-0 > td {
      border-bottom: dashed 2px #75757933 !important;
    }
    .ant-table-thead > tr, .ant-table-thead > tr > th {
      background-color: transparent;
      font-weight: normal;
    }
    .ant-table-thead > tr > th.ant-table-column-sort {
      background: transparent;
    }
    .ant-table-footer {
      background: transparent !important;
    }
    .ant-table-placeholder{
      background: transparent !important;
    }
    .ant-table-tbody > tr{
      background:  transparent !important;
    }
    .ant-table-thead > tr > th:not(.leftAlignTableHeader){
      // text-align: center !important;
      background:  transparent !important;
    }
    
  }
}