html,
body,
#root {
  height: 100%;
  word-break: break-all;
}
p {
  margin: 0;
  padding: 0;
}
.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

a {
  color: #b5b5b6;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.ant-table-tbody > tr > td {
  border: 0 !important;
  margin: 20px 0 !important;
  color: #b5b6b6 !important;
}
.ant-table-thead > tr,
.ant-table-tbody > tr {
  // display: block !important;
  background-color: #373739 !important;
  border-radius: 10px !important;
  margin: 10px auto !important;
  width: 100%;
  border: 0;
}
.ant-table-thead > tr > th{
  border: 0 !important;
}

.ant-table-footer::before{
  background-color: #2F3135 !important;
}
.ant-table-footer{
  background-color: #2F3135 !important;
  border: 0 !important;
}


.ant-input{
  height: 30px;
  width: 100px
}
