@import '~antd/lib/style/themes/default.less';

.content {
  margin: 24px;
  padding-top: @layout-header-height;
}
.bc{
  background: linear-gradient(top right, #1B1B1C, #d4fc79);
}
.radialBg{
  background-color: #1b1b1c;
  background-image: radial-gradient(circle at top, rgba(98,36,10,1) 0%, rgba(27,27,28,1) 44%, rgba(27,27,28,1) 82%);
  
}
