@import '~antd/lib/style/themes/default.less';

.content {
  margin-top:@layout-header-height;
  padding-top: @layout-header-height;
  height:calc(100vh - 64px);
  overflow-y: auto;
  overflow-x: hidden;
}
.bc{
  background: linear-gradient(top right, #1B1B1C, #d4fc79);
}
.radialBg{
  background-color: #1b1b1c;
  // radial-gradient(50% 50% at top 20% right 20%, #ea5c1f, #1B1B1C)
  // background-image: radial-gradient(50% 50% at top 20% right 20%, rgba(234,92,31,0.15), rgba(27,27,28,0.15));
  
}
