.main {
    margin: 0;
    z-index: 0;
    color: #b6b5b5;
    font-weight: 400;
    display: flex;
    position: relative;
    font-family: "Karla", sans-serif;
}

.rowFlexContainer {
    width: 100%;
    margin-right: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.optionComponent {
    width: 550px;
}
  