.main {
  margin: 0;
  z-index: 0;
  color: #b6b5b5;
  font-weight: 400;
  display: flex;
  position: relative;
  font-family: "Karla", sans-serif;
}

.rowFlexContainer {
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;

  .bottomWrapper {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    .bottomTab {
      border-top: 0.75px solid #444444;
      border-bottom: 0.75px solid #444444;
      padding-right: 60%;
      margin-bottom: 0px;
      font-size: 5px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .rowFlexContainer {
    min-width: 310px;
    flex-wrap: nowrap;
  }

  .priceChart {
    border-right: 0.75px solid #333333;
    order: 1;
    flex: 2;
  }

  .optionComponent {
    order: 2;
    flex: 1;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    min-width: 370px;
    width: 65%;
  }

  .colItem {
    margin: 0 0.5rem;
    width: 100%;
  }

  .priceChart {
    order: 2;
  }

  .optionComponent {
    order: 1;
  }
}

.chartTokenSelectorTab {
  width: 25%;
  font-size: 1rem;
  background-color: black;
  padding: 0.7rem;
}