.pool {
  display: flex;
  .bigtitle {
    font-size: 18px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    &:hover {
      color: #eb5c20;
    }
  }
  .value {
    font-size: 14px;
    font-weight: 400;
    color: #b5b6b6;
    &:hover {
      color: #eb5c20;
    }
  }
}

#liquidityPositionTable > tr,
td,
th {
  text-align: left !important;
}

.removeLiquidityButton {
  background-color: #1b1b1c;
  color: white;
  opacity: 0.8;
  border-radius: 10px;
  border-width: 0px;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  cursor: pointer;
}

.removeLiquidityButton:hover {
  background-color: #1b1b1c;
  opacity: 0.8;
}

.noBg {
  background: none !important;
}

@media (max-width: 768px) {
  .pool {
    .bigtitle {
      font-size: 14px;
    }
    .value {
      font-size: 10px;
    }
  }
}

.leftAlign {
  text-align: left !important;
}

.tableSeeMoreWrapper {
  text-align: center;
  width: 100%;
}
.tableSeeMore {
  font-size: 16px;
}

.rowHighlighted {
  background: #373739!important;
}
.rowNormal {
  background: transparent!important;
}