.maintitle {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 11px;
  color: #929298;
}
.lighttitle {
  color: #b5b5b6;
}
.secondarytitle {
  font-size: 28px;
  font-weight: 400;
  color: #929298;
  .percentage {
    margin: 0 30px;
  }
}
.smalltitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #b5b5b6;
}
.pt {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.trade {
  padding-top: 25px;
}
.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 52px;
  color: #b5b6b6;
}
.search {
  margin-top: 12px;
}
.coinList {
  width: 100%;
  padding: 20px 50px;
}
.confirm {
  margin: 24px auto;
  font-size: 18px;
  font-weight: 400;
  color: #b5b6b6;
  text-align: center;
  p {
    text-align: left;
    margin-bottom: 14px;
    &:nth-last-child(2) {
      margin-bottom: 51px;
    }
  }
}

.main {
  :global {
    .ant-table-thead > tr,
    .ant-table-tbody > tr {
      // display: block;
      text-align: right !important;
    }
  }
}

@media (max-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column-reverse;
    padding: 10%;
  }
}

@media (min-width: 1024px) {
  .main {
    display: grid;
    grid-template-columns: auto 425px;
    column-gap: 30px;
  }
}
