.main {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    z-index: 0;
    color: #b5b6b6;
    margin-bottom: 20px;
    font-weight: 400;
  }
  
  .rowFlexContainer {
    display: flex;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    position : relative;

    .optionTab {
        margin : 10px;
        color : #b5b5b6;
        cursor : pointer;
        &:hover {
            filter: brightness(1.5);
          }
    }
  }
  
  @media screen and (min-width: 1024px) {
    .rowFlexContainer {
      // width: 30%;
      min-width: 310px;
      flex-wrap: nowrap;
    }
    .priceChart {
      order: 1;
      flex: 2;
        bottom: 0.5rem;
        left: 0;
        right: 0;
        top: 0.5rem;
      
    }
    .perpetualComponent {
      order: 2;
      flex: 1;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .main {
      min-width: 370px;
      width: 65%;
    }
    .colItem {
      margin: 0 0.5rem;
      width: 100%;
    }
    .priceChart {
      order: 2;
    }
    .perpetualComponent {
      order: 1;
    }
  }
  
  .positionsTable {
    display : flex;
    position : relative;
  }
  .maintitle {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 11px;
    color: #929298;
  }
  .lighttitle {
    color: #b5b5b6;
    &:hover {
      filter: brightness(1.5);
    }
  }
  .secondarytitle {
    font-size: 1.2rem;
    font-weight: 400;
    color: #929298;
    .lighttitle {
      font-size: 1.3rem;
      font-weight: 500;
      color: white;
    }
    .percentage {
      margin: 0 30px;
    }
  }
  .smalltitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #b5b5b6;
  }
  .pt {
    // margin-top: -110px;
    // margin-right: 30px;
    position: relative;
    z-index: 100;
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // opacity: 0;
  }
  .exchangeBottomWrapper {
    // width: 65%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: stretch;
  }
  // .showPeriodOnHover:hover .pt {
  //   opacity: 1;
  //   transition: opacity 1s;
  // }
  
  .exchangeBottomWrapper{
    .exchangeItem{
      width: 100%;
      padding: 48px 0;
      h3{
        font-size: 20px;
        margin-top: 0px;
        display: flex;
        &:hover{
          color: #eb5c20;
          transform: translate(10px,0);
          transition-duration: 0.5s;
        }
        .span{
          transform: translate(0,3px);
        }
      }
    }
  }
  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 52px;
    color: #b5b6b6;
  }
  .search {
    margin-top: 12px;
  }
  .coinList {
    width: 100%;
    padding: 20px 50px;
  }
  .confirm {
    margin: 24px auto;
    font-size: 18px;
    font-weight: 400;
    color: #b5b6b6;
    text-align: center;
    p {
      text-align: left;
      margin-bottom: 14px;
      &:nth-last-child(2) {
        margin-bottom: 51px;
      }
    }
  }
  .pool {
    display: flex;
    .bigtitle {
      font-size: 18px;
      font-weight: 600;
      color: #eb5c20;
    }
    .value {
      font-size: 14px;
      font-weight: 400;
      color: #b5b6b6;
    }
  }
  .thinMain{
    width: 70%;
  }
  @media (min-width: 768px) {
    // .main {
    //   display: grid;
    //   grid-template-columns: auto 380px;
    //   padding: 0 40px;
    // }
  }
  
  @media (max-width: 768px) {
    // .main {
    //   padding: 0 40px;
    // }
    .exchangeBottomWrapper{
      width: 100%;
      padding: 0 40px;
    }
    .option {
      padding: 0 40px;
    }
    .exchangeBottomWrapper > div {
      padding: 4% 40px 4% 40px;
      width: 100%;
    }
  }
  .routing {
    display: flex;
    margin-bottom: 30px;
    font-size: 18px;
    width: 600px;
    .r_title {
      color: #ffffff;
      padding-right: 10px;
    }
    .r_desc {
      color: #757579;
    }
    .routing_left {
      width: 132px;
      height: 250px;
      background: #2e3032;
      border-radius: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
    }
    .routing_middle {
      position: relative;
      flex: 1 1 auto; //可放大 可缩小
      .lines {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        height: 100%;
        .line {
          height: 1px;
          background: #757579;
        }
      }
      .nodes {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        .nodes_item {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          color: #eb5c20;
          margin: 10px;
          .node {
            width: 200px;
            height: 80px;
            background: #2e3032;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .texts {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        position: absolute;
        width: 100%;
        height: 100%;
        .text {
          color: #eb5c20;
          margin: -35px 0 0 20px;
          font-size: 24px;
        }
      }
    }
    .routing_right {
      width: 132px;
      height: 250px;
      background: #2e3032;
      border-radius: 10px;
    }
  }
  @media (max-width: 768px) {
    .routing {
      font-size: 16px;
      .node {
        width: 108px !important;
        height: 54px !important;
      }
    }
  }
  :global{
    @keyframes expand {
      10% {
        r: 0;
      }
      20% {
        r: 40;
      }
      100% {
        r: 40;
      }
    }

    .optionTab{
        margin: 5px;
    }
    
    .myCircle {
      animation: expand 6s ease infinite;
      animation-fill-mode: forwards;
    }
    
    .coin circle {
      fill: #757579;
      stroke-width: 0px;
    }
    
    .coin text {
      stroke: white;
      stroke-width: 1px;
      fill: white;
    }
    
    @keyframes showAndHide {
      0% {
        opacity: 0;
      }
      20% {
        opacity: 1;
      }
      40% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
    
    @keyframes highlightOnEnd {
      0% {
        font-weight: auto;
        font-size: 14px;
      }
      20% {
        font-weight: auto;
        font-size: 14px;
      }
      25% {
        font-weight: bold;
        font-size: 20px;
      }
      30% {
        font-weight: auto;
        font-size: 14px;
      }
      100% {
        font-weight: auto;
        font-size: 14px;
      }
    }
    
    .ratios {
      color: #ea5c1f;
      border-radius: 3px;
      padding: 2px;
      min-width: 30px;
      text-align: center;
      animation: highlightOnEnd 8.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
    
    .ratios.id-1 {
      color: #70ba33;
    }
    
    .ratios.id-3 {
      color: #e29227 !important;
    }
    
    #algo_title {
      color: white;
      animation: showAndHide 8.5s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
    }
    
  }
  